[2016-07-28 15:37] Abrakadabr opened #1 "Instance context methods are not supported"
EvalContext documentation:

My example:

[code]

[2016-07-28 15:49] zzzprojects commented on #1
Thank you for reporting.

You are right, if only one entity is passed, instance method should be available without having to prefix.

By example, following code work:

[code]

But we should not force you to prefix with "{0}.".

We will review this request and try to make add support to instance method this week-end.

[2016-08-03 13:52] zzzprojects commented on #1
Sorry for the delay,

We just release the v1.0.18 which now support method without having to prefix when only one parameter is used.

Let us know if it's now working for you.

Best Regards,

Jonathan

[2016-08-10 13:37] Abrakadabr commented on #1
Thanks, it works.

[2016-08-10 13:58] zzzprojects commented on #1
Closing: User confirmed it works.

[2016-08-10 13:58] #1 closed, assigned to nobody

[2016-08-21 07:46] vzsoft opened #2 "Bug:NameSpace"
hi

[sample download](https://drive.google.com/open?id=0B9DILM3WqR1Obmd5QXFDZUFSNk0)

[2016-08-21 15:16] zzzprojects commented on #2
Thank you vzsoft,

We will look at this issue this week and try to fix all issues which may be related to a namespace.

[2016-08-30 14:57] zzzprojects commented on #2
Hello vzsoft,

The version 1.0.21 has been  released. We have fixed this issue and a few more which could happen with a similar scenario.

Can you confirm this issue is fixed?

Best Regards,

Jonathan

[2016-08-30 16:54] vzsoft commented on #2
Hello Jonathan

the problem was solved

thank you so much

[2016-12-30 17:14] vzsoft commented on #2
hi

sample error again in Z.Expressions.Eval.1.0.35 version

[2016-12-30 17:16] zzzprojects commented on #2
Thank you, I will look at this in a few hours.

I will add some unit tests to make sure that will never happen again.

Best Regards,

Jonathan

[2016-12-30 19:18] zzzprojects commented on #2
The bug has been fixed but not released yet.

We are currently looking if we should redo or not the "NewKeyword" code.

I will let you know more very soon.

Best Regards,

Jonathan

[2016-12-30 22:58] zzzprojects commented on #2
Hello @vzsoft ,

The v1.0.36 has been released with the correction of this issue.

Be careful, in a few hours, we will also release the version 2.x support dot net core. However, the library will not be any more free (50 characters or less). So make sure you use the version 1.x

Best Regards,

Jonathan

[2016-12-31 19:16] vzsoft commented on #2
Thank You

[2016-12-31 19:16] #2 closed, assigned to nobody

[2017-02-24 08:30] pschmerling opened #3 "Cannot add library to UWP"
I want to use the library in a application on Windows IoT on Raspberry PI. But when adding the library using nuget I get the following error:
`System.Reflection.Emit.ILGeneration 4.3.0 provides a compile-time reference assembly for System.Reflection.Emit.ILGeneration on UAP,Version=v10.0, but there is no run-time assembly compatible with win10-arm-aot.
One or more packages are incompatible with UA

[2017-02-24 13:31] JonathanMagnan commented on #3
Hello @pschmerling ,

Thank you for reporting this issue.

We have found a lot of useful information about it here: https://github.com/StefH/System.Linq.Dynamic.Core/issues/33

The issue seems to be general to a lot of libraries. System.Reflection.Emit.ILGeneration is not supported yet in UWP project on aot runtimes (ahead of time).

We will investigate more this issue and let you know soon.

Best

[2017-03-30 21:34] Mike-E-angelo opened #4 "Question: "sys:bool""
Hey there,

Pretty impressed with this library.  I am running into a problem, however.  It seems as if expressions such as `sys:bool` resolve to the `bool` type.  Which is pretty cool.  Unfortunately this conflicts with how I am using the same tokens. :)  For some context, I am using `Eval` as such:

[code]

If there is an error in parsing, then I wrap it as a string and try again.  So, I am expec

[2017-03-30 21:54] JonathanMagnan commented on #4
Hello @Mike-EEE ,

Thank you for reporting.

We are currently looking at this issue. We are currently unsure if we want to treat it as an error or not...

Some similar syntax could be valid (I must admit that's not very similar!):
[code]

We will investigate this issue tomorrow or during this weekend. We will for sure come back with a solution (in the worse case, adding an option to disable goto s

[2017-03-30 23:00] JonathanMagnan commented on #4
There is something that bothers us,

Is there a reason when you are not checking with the Contains method if the "parameter" to evaluate has the character ':'?

[2017-03-31 04:13] Mike-E-angelo commented on #4
Ah, that is correct, @JonathanMagnan!  I didn't even consider (or realize 👼) that as a valid statement.  I never use `goto` so. :)

In my case I am evaluating a single line, without a semicolon.  However I see now from my perspective that this is 100% not your issue, but is rather mine.  Your API is working as expected... maybe a little too well. 😄  I will figure something on my end.  Thank you fo

[2017-03-31 04:13] #4 closed, assigned to JonathanMagnan

[2017-05-05 03:49] jefferysun opened #6 "Null property value causes eval exception"
Following code works:

`dynamic expandoObject = new ExpandoObject();`
`expandoObject.Property1 = true;`
`if (Eval.Execute<bool>(@"Property1 == true", expandoObject))`
`{`
 `    Console.WriteLine(@"Property1 == true");`
`}`

But the following (with an irrelevant null property) will just error out:

`dynamic expandoObject = new ExpandoObject();`
`expandoObject.Property1 = true;`
**`expandoObject.Pro

[2017-05-05 13:01] JonathanMagnan commented on #6
Hello @jefferysun ,

That is definitely something we can fix. In fact, we fixed it a few minutes ago in our dev environment.

The issue was caused when trying to get value type from ExpandoObject properties.

We will investigate a little bit more this issue but we expect to release the fix today or during the weekend.

Best Regards,

Jonathan

[2017-05-06 19:02] JonathanMagnan commented on #6
Hello @jefferysun ,

The v2.0.8 has been released:
https://www.nuget.org/packages/Z.Expressions.Eval/2.0.8

Let us know if the issue is fixed on your side.

Best Regards,

Jonathan

[2017-05-06 19:11] jefferysun commented on #6
This works now.  Thank a lot for such quick turnaround.

-------- Original Message --------
From: Jonathan Magnan <notifications@github.com>
Sent: Saturday, May 6, 2017 03:02 PM
To: "zzzprojects/Eval-Expression.NET" <Eval-Expression.NET@noreply.github.com>
Subject: Re: [zzzprojects/Eval-Expression.NET] Null property value causes eval exception (#6)
CC: jefferysun <jefferysun@msn.com>,Mention <ment

[2017-05-06 19:11] JonathanMagnan commented on #6
Closing Comment: Fix confirmed

[2017-05-06 19:11] #6 closed, assigned to JonathanMagnan

[2017-06-05 17:28] vzsoft opened #7 "Bug: generic list full name"
hi

use: error
System.Collections.Generic.List<System.Collections.Generic.List<System.String>
use: not error
System.Collections.Generic.List<List<System.String>>

sample:
[code]

[2017-06-05 18:52] JonathanMagnan commented on #7
Hello @vzsoft ,

Thank you for reporting.

We have started to investigate the issue. We hope to complete tomorrow or later this week.

Best Regards,

Jonathan

[2017-06-06 19:50] JonathanMagnan commented on #7
Hello @vzsoft ,

The v2.1.1 has been released.

We have fixed issue with namespace when used in a generic type.

Let me know if that's now working.

Best Regards,

Jonathan

[2017-06-06 19:58] vzsoft commented on #7
Thank you

[2017-06-06 19:58] #7 closed, assigned to JonathanMagnan

[2017-06-09 12:29] jsobell opened #8 "Question regarding best approach to shared text-based code features"
Hi Johnathan,
In one of my applications I use the Chrome ScriptV8 engine to provide powerful evaluation and scripting, so I'm looking at the feasibility of replacing it with this library.
One feature is that because the ScriptV8's context is shared between many calls, when the 'Engine' is set up I can execute some predefined javascript function definitions, which the user has access to in the macr

[2017-06-09 12:50] JonathanMagnan commented on #8
Hello @jsobell ,

I'm not exactly sure to exactly understand this request. We currently don't support dynamic class creating but perhaps implementing something like the below example could work:

[code]

Let me know if something like this could work or you are looking for something else.

Best Regards,

Jonathan

[2017-06-09 13:03] jsobell commented on #8
The issue is that users often have features they want to use over and over again, so in a javascript evaluation system you'd typically define a set of helper function. In our system we have this:
[code]
Now these are created on a per-client basis, so traditionally developers will write this as a class, compile it, and add it as a reference to give the users access to the commands.
What we would no

[2017-06-09 13:13] JonathanMagnan commented on #8
There is some stuff that's possible for us to do.

By example, providing a way to add all code and only compile on our side a method on demand when first accessing.

However, we currently do not create an assembly so re-using an assembly would be impossible for our side.

[2017-06-10 01:13] jsobell commented on #8
Fair enough.
As a quick test I added this:
[code]
So if I create a set of utility features in code, such as
[code]
I can include those in evaluations using
[code]

Might be worth considering something along these lines.

[2017-06-10 01:13] #8 closed, assigned to JonathanMagnan

[2017-06-12 20:50] vzsoft opened #9 "Bug: typeof namespace full name"
Hi

i got error this code:

[code]

[2017-06-13 00:23] JonathanMagnan commented on #9
Hello @vzsoft ,

Thank you for reporting this issue. We successfully reproduced it and found out what's causing this issue.

We are currently investigating how to handle this case without impacting the code. More information will be very soon available.

Best Regards,

Jonathan

[2017-06-20 20:07] JonathanMagnan commented on #9
Hello @vzsoft ,

Sorry for the long waiting.

The v2.1.3 has been released:
https://github.com/zzzprojects/Eval-Expression.NET/releases/tag/v2.1.3

Best Regards,

Jonathan

[2017-06-20 20:16] vzsoft commented on #9
Thank you

[2017-06-20 20:16] #9 closed, assigned to JonathanMagnan

[2017-07-26 23:39] jsobell opened #10 "Strange memory of previous values..."
If I evaluate the expression:
`new { a=1, b="B"};`
I would expect to subsequently evaluate the expression
`new { a="1", b="B"};`
But doing this raises the error:
`Argument type 'System.String' does not match the corresponding member type 'System.Int32'`
because it's somehow remembering the nested anonymous object type's *a* variable is an integer.
Is this a bug, or is there a way to prevent this c

[2017-07-26 23:46] JonathanMagnan commented on #10
Hello @jsobell ,

Thank you for reporting, we will look at this issue very soon.

Best Regards,

Jonathan

[2017-07-27 16:16] JonathanMagnan commented on #10
Hello @jsobell ,

The v2.1.11 has been released ([Release Note](https://github.com/zzzprojects/Eval-Expression.NET/releases/tag/v2.1.11))
https://www.nuget.org/packages/Z.Expressions.Eval/

The constructors for anonymous type are now generic as well.

Let me know if that fixed your issue.

Best Regards,

Jonathan

[2017-07-28 00:41] jsobell commented on #10
Yep, that seems to be working nicely!

Many thanks for the speed fix!

Cheers,
 Jason

[2017-07-28 00:41] #10 closed, assigned to JonathanMagnan

[2017-08-06 12:33] vzsoft opened #11 "Bug: full Namespace in method"
Hi

i got error this code:

[code]

[2017-08-06 17:16] JonathanMagnan commented on #11
Hello @vzsoft ,

Thank you for reporting, we successfully reproduced this issue.

We hope to release a fix very soon.

Best Regards,

Jonathan

[2017-08-08 15:36] JonathanMagnan commented on #11
Hello @vzsoft ,

The v2.1.14 has been released ([release note](https://github.com/zzzprojects/Eval-Expression.NET/releases/tag/v2.1.14))
https://www.nuget.org/packages/Z.Expressions.Eval/

Full namespace should now work correctly with `typeof` keyword or in similar scenario.

Let me know if the issue is fixed.

Best Regards,

Jonathan

[2017-08-08 15:59] vzsoft commented on #11
Thank you

[2017-08-08 15:59] #11 closed, assigned to JonathanMagnan

[2017-08-23 15:39] lynnmiller opened #12 "string.Left method"
I downloaded Eval-Expression.NET and am trying it out.

The following command works and returns "Lynn":

string result4 = Eval.Execute<string>("String.Copy(\"Lynn\")");

This command errors out.

string result5 = Eval.Execute<string>("String.Copy(\"Lynn\").Left(1)");

Should I be able to do something like I am trying to do?  I am trying to understand the capabilities of this library by trying diff

[2017-08-23 17:08] JonathanMagnan commented on #12
Hello @lynnmiller ,

The following statement `String.Copy("Lynn").Left(1);` is not a valid C# statement. It doesn't compile even without our library.

The short answer is no, you should not be able (unless we add this syntax in our library like we did with a few syntax).

If it's an extension method that you added to your library, you must register it. By example:

[code]

Let me know if that answ

[2017-09-12 00:21] JonathanMagnan commented on #12
Hello @lynnmiller ,

We will close this issue since no more question has been asked.

Feel free to reopen if you need more information.

Best Regards,

Jonathan

[2017-09-12 00:21] #12 closed, assigned to JonathanMagnan

[2017-10-05 19:39] softwaretirol opened #13 "Mono Support?"
If i try to run a Console application with the following statement:
"var func = Z.Expressions.Eval.Compile("1+2");"

I am getting an Exception:

System.TypeInitializationException: The type initializer for 'Z.Expressions.EvalManager' threw an exception. ---> System.TypeLoadException: Could not resolve type with token 010000bb
  at Z.Expressions.EvalContext..ctor () [0x0007a] in <30ed86fefe7e4b81af

[2017-10-06 04:05] JonathanMagnan commented on #13
Hello @softwaretirol ,

Unfortunately, we have no plan to support `Mono` however we already support `.NET Standard`.

We already tried previously to support `Mono`, however, there is too much small thing that's different.

To be honest, I don't think the support for this platform will never happen.

I still added this request to our pool list.

Let me know if we can close this issue since as I sai

[2017-10-30 01:11] Alphaquest2005 opened #14 "NullReferenceException"
When i try to execute the following code i get a 'Object reference not set to an instance of an object.'

[code]

The parameter contains dynamic types is that the cause?

[2017-10-30 14:29] JonathanMagnan commented on #14
Hello @Alphaquest2005,

Yes, this could be the cause since your expression is complex.

We support dynamic types but they may have case that we might have forgotten.

Do you think you could send us a full example that doesn't work to make sure on our side we try to fix the right issue?

Best Regards,

Jonathan

[2017-11-01 17:20] rogerfar opened #15 "Initializing a list with type T of a complex type not working"
When trying to execute the following code:

[code]

ComplexType is just a class in this example.

it fails at the 2nd line with the message: `Oops! The type could not be found. Only common type are registered by default. Make sure the type you are using is registered: https://github.com/zzzprojects/Eval-Expression.NET/wiki/EvalContext-Register-&-Unregister`

[2017-11-01 21:43] JonathanMagnan commented on #15
Hello @yesman85 ,

Did you register your `ComplexType` via `RegisterType` or RegisterAssembly` ? I tried some very basic scenario which seemed to work.

[code]

[2017-11-01 21:45] rogerfar commented on #15
Yes, if I execute both lines in a single Execute it will break on the 2nd line, not the first one, indicating that the type is actually found.

[2017-11-01 21:48] JonathanMagnan commented on #15
Strange, it seems to work on our side even in a single execute

Do you think you could try the following code?

[code]

[2017-11-01 22:02] rogerfar commented on #15
It works, BUT when I add: `EvalManager.DefaultContext.RegisterDomainAssemblies();` it stopped working, even when I remove `EvalManager.DefaultContext.RegisterType(typeof(ComplexType));`.

I also noticed that my complex type is a partial class, maybe that's the culprit?

[2017-11-01 22:10] JonathanMagnan commented on #15
Do you think you could provide a small example with this issue? By example in a new console application?

It will make easier on our side to fix it than trying to reproduce the problem.

It seems to work on `partial` class and with `RegisterDomainAssemblies`.

[2017-11-01 22:28] rogerfar commented on #15
I tried it in a separate app but it worked then, but now I found out that it's not the complex type that's the issue but the List<T>.

When I do `var list = new System.Collections.Generic.List<ComplexType>();` it works, so there must be another assembly with the name List somewhere, although Visual Studio is not suggesting there is.

[2017-11-01 23:21] JonathanMagnan commented on #15
Hello @yesman85 ,

Thank a lot,

We released the v2.4.2 which blacklist the class `List` when registering type via `RegisterDomainAssemblies`. A better solution will need to be found later.

Let me know if your expression can now work correctly.

Best Regards,

Jonathan

[2017-11-02 14:03] #15 closed, assigned to JonathanMagnan

[2017-11-02 14:03] rogerfar commented on #15
Yes it works good now! Thanks.

[2017-11-06 17:56] efronberlian opened #16 "Enum variable with the same name as its type gives null reference exception"
I have a problem with naming enums with the same name as its type, The code below runs well as long as you don't have the variable SomeEnum. I put the comment on which line should be commented.
[code]

[2017-11-06 19:04] JonathanMagnan commented on #16
Hello @efronberlian ,

Thank you for reporting.

This problem is due because by default, the library allow to directly reference property from the entity.

By example
[code]

is equivalent to
[code]

We will look how we can fix it today or tomorrow.

Best Regards,

Jonathan

[2017-11-06 19:14] efronberlian commented on #16
Ahh I see. So the compiler thinks tht 'SomeEnum.A' means 'entity.SomeEnum.A' instead of referencing the enum class. That looks like a tricky problem.

Thank you so much for replying so soon. I am currently using Eval-Expressions in the project that I am working on and it's working great. Keep up the good work! :)

[2017-11-07 03:42] JonathanMagnan commented on #16
Yup, it was a little bit tricky to fix but I believe we did it.

The v2.4.3 has been released:
https://www.nuget.org/packages/Z.Expressions.Eval/

Let me know if your scenario is now working correctly.

Best Regards,

Jonathan

[2017-11-07 16:50] efronberlian commented on #16
It works perfectly. Thanks for the help!

[2017-11-07 16:50] #16 closed, assigned to JonathanMagnan

[2017-11-10 00:02] lynnmiller opened #17 "error running the ExpandoObject example"
I am trying to get the examples running from your website.  I have been successful getting 3 of 4 working.  The only one not working is the ExpandoObject example.

Here is my code:

            // using Z.Expressions; // Don't forget to include this.
            int result1 = Eval.Execute<int>("X + Y", new { X = 1, Y = 2 });
            Console.WriteLine(result1);

            // using Z.Expressio

[2017-11-10 05:32] JonathanMagnan commented on #17
Hello @lynnmiller ,

Thank you for reporting.

We successfully reproduced the issue. We will try to fix it tomorrow.

Best Regards,

Jonathan

[2017-11-10 12:56] lynnmiller commented on #17
Thanks!

[2017-11-10 14:16] lynnmiller opened #18 "HasValue and also null values"
My comments and questions are in the code below:

            DateTime? dateTimeA;

            // this works
            dateTimeA = new DateTime(2017, 1, 1);
            string result1 = Eval.Execute<string>("{0}.AddDays(1).ToString()", dateTimeA);
            Console.WriteLine(result1);

            // this is what I want to do ...
            dateTimeA = new DateTime(2017, 1, 1);
            i

[2017-11-10 15:47] JonathanMagnan commented on #18
Hello @lynnmiller ,

The problem is caused because the `dateTimeA` variable is a DateTime value, not a nullable DateTime when assigned.

[code]

Obviously, `HasValue` doesn't exists on a `DateTime` which cause the error.

There is two way to solve this issue

## Compile + Execute
When compiling, you can specify the type.

[code]

## Class + Execute
Don't use a nullable variable anymore, add the va

[2017-11-13 22:55] JonathanMagnan commented on #17
Hello @lynnmiller ,

Sorry for the delay, it took us a little bit more time than expected to fix this one.

The v2.4.4 has been released.

Let me know if you can now run example successfully.

Best Regards,

Jonathan

[2017-11-14 11:37] lynnmiller commented on #17
No problem about the delay.  I tested it and it works.  Thanks!

[2017-11-14 14:18] #17 closed, assigned to JonathanMagnan

[2017-11-15 21:17] efronberlian opened #19 "SelectDynamic.Distinct with anonymous type doesn't work as intended"
I am trying to use anonymous types in selectdynamic so that I can use .Distinct() for multiple field/column/member. But it seems there is an anonymous type mismatch between the anonymous type created with and without eval context.

If this is an incorrect way of using it, do you have a different way of approaching this? In the real case, Entity will be a large class with numerous members. And the

[2017-11-15 21:29] JonathanMagnan commented on #19
You are right.

The anonymous created by our library is a type created on `runtime` while the second anonymous type created in the `CastToType` method is a type created on `compile` time (The type is part of the dll).

Unfortunately, we cannot use type created in `compile` time since we don't know about them.

I'm not if this solution can work in your scenario but one way to achieve this is castin

[2017-11-15 21:58] efronberlian commented on #19
There is going to be up to millions of objects in the list, so I would rather not use any dynamic types, since from what I can understand there is a significant overhead when using dynamic types. Is there another way of doing this without anonymous type maybe?

Btw. I just realized another problem, I have 2 supposedly identical operations, but I am getting different outputs:

Thanks for the prompt

[2017-11-15 22:26] JonathanMagnan commented on #19
Thank you for reporting.

Our anonymous doesn't implement probably the IComparable interface or something like this. Every entity is unique no matter the value.

Honestly, I'm very surprised by the `Output 3` result... I would have expected `4` as our anonymous type.

[code]

Best Regards,

Jonathan

[2017-11-16 22:45] JonathanMagnan commented on #19
Hello @efronberlian ,

The v2.4.5 has been released.

We implement the `Equals` method for anonymous type created on our side.

Additionally, we worked on how to solve your problem without dynamic and I'm happy to provide you a solution:

[code]

The solution may need some additional work in some case.

Let me know if that works correctly on your side.

Best Regards,

Jonathan

[2017-11-23 15:18] rogerfar opened #20 "No applicable member has been found for the expression in Enumerable"
When I execute this code:

        static void Main(string[] args)
        {
            var eval = new EvalContext();
            eval.RegisterDomainAssemblies();

            const string test = @"var list = new List<Int32>();
    list.Add(2);
    list.Add(1);
    list = Enumerable.OrderBy(list, m => m).ToList();
    return list;
    ";
            var testList = Test();
            var invoiceA

[2017-11-23 16:38] JonathanMagnan commented on #20
Hello @yesman85 ,

Thank you for reporting,

We already found the cause of the issue, we will fix it and provide you a solution for next Monday.

Meanwhile, calling the method like this will work:

[code]

[2017-11-23 16:40] rogerfar commented on #20
I tried that, unfortunately OrderBy is not whitelisted and it being pulled from the wrong library in my case.

[2017-11-27 02:13] JonathanMagnan commented on #14
Hello @Alphaquest2005 ,

Do you think you will be able to find time to provide us an example?

In your current example, I'm not sure which field or property is currently dynamic types or real types.

Best Regards,

Jonathan

[2017-11-27 02:15] Alphaquest2005 commented on #14
Hi thank for following up…
Fact is I just refactored out the dynamic type and replaced it with dictionary… to match the rest of static c#....
So far so good…

Thanks any ways

joseph

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Jonathan Magnan <notifications@github.com>
Sent: Sunday, November 26, 2017 10:13:02 PM
To: zzzproj

[2017-11-27 02:17] JonathanMagnan commented on #18
Hello @lynnmiller ,

I will close this issue but if you have more question, feel free to reopen it.

Best Regards,

Jonathan

[2017-11-27 02:17] #18 closed, assigned to JonathanMagnan

[2017-11-27 02:20] JonathanMagnan commented on #19
Hello @efronberlian ,

I will close this issue since the fix has been released.

Best Regards,

Jonathan

[2017-11-27 02:20] #19 closed, assigned to JonathanMagnan

[2017-11-27 02:54] JonathanMagnan commented on #20
Hello @yesman85 ,

The v2.4.6 has been released.

I believe all issue related to this one or you provided by email has been solved in this version.

You do not longer need to try to `blacklist` some type.

Let me know if everything works fine.

Best Regards,

Jonathan

[2017-11-27 17:04] rogerfar commented on #20
Yes this seems to work!

[2017-11-27 17:04] #20 closed, assigned to JonathanMagnan

[2017-11-28 02:22] pimier15 opened #21 "How can i call External dll method?"
I want to use my dll method with eval. How can i do this?

Test code is this.
[code]

[2017-11-28 02:58] JonathanMagnan commented on #21
Hello @pimier15 ,

Depending on what you exactly need, here is three different way to register type & assembly.

[code]

Let me know if this answer helped you to solve your problem.

Best Regards,

Jonathan

[2017-12-05 17:10] nawfalhasan opened #22 "Update Wiki"
Update page https://github.com/zzzprojects/Eval-Expression.NET/wiki/vs-LINQ-Dynamic-Query-Library to include latest syntax.

These are wrong:

    OrderByDynamic("x => x.P1")
    SelectDynamic("x => new {Y = x.P1, x.P2}")
    Where("x => x.P1 == 1 && x.P2 == 2")

Should be

    OrderByDynamic(x => "x.P1")
    SelectDynamic(x => "new {Y = x.P1, x.P2}")
    Where(x => "x.P1 == 1 && x.P2 == 2")

[2017-12-05 22:58] JonathanMagnan commented on #22
Hello @nawfalhasan ,

Thank you for reporting.

The examples has been fixed.

Best Regards,

Jonathna

[2017-12-05 22:58] #22 closed, assigned to JonathanMagnan

[2017-12-13 19:50] JonathanMagnan commented on #14
Hello @Alphaquest2005 ,

We will close this issue seem there is no so much we can do currently since you look to have fixed it on your side.

Feel free to reopen if I shouldn't have closed it.

Best Regards,

Jonathan

[2017-12-13 19:50] #14 closed, assigned to JonathanMagnan

[2017-12-13 20:54] JonathanMagnan commented on #21
Hello @pimier15 ,

We are currently making some issue cleanup.

Feel free to reopen if you believe we closed it by mistake

Best Regards,

Jonathan

[2017-12-13 20:54] #21 closed, assigned to JonathanMagnan

[2018-01-10 18:13] JonathanMagnan commented on #13
Hello @softwaretirol ,

We will close this request since I don't think we will ever support `Mono`.

This request will stay open on our `pool` list whoever.
Best Regards,

Jonathan

[2018-01-10 18:13] #13 closed, assigned to JonathanMagnan

[2018-01-10 18:15] JonathanMagnan commented on #3
Hello @pschmerling ,

We will close this request since we have not done anything since last year and I don't think we can do anything about it due to how the library is made.

Best Regards,

Jonathan

[2018-01-10 18:15] #3 closed, assigned to JonathanMagnan

[2018-01-17 15:09] saitham opened #23 "Use DateTime values"
Hi,

using ExpressionEvaluator.dll Version 2.0.4.0
actually we get DateTimes as a input from our users and would like to perform equality compare and so on.

So how can I declare for the Evaluator that something like '01.01.2017 08:00:00' is a date? Tried allready to use stuff like DateTime.Parse but it did not work (Is there a way to use functions from c# System lib at this version)

regards
sait

[2018-01-17 15:22] JonathanMagnan commented on #23
Hello @saitham ,

Unfortunately, ExpressionEvaluator is no longer supported. They had no many issues and the infrastructure was making nearly impossible to support some more complex syntax such as Extension Methods.

We recommend you to move instead Eval-Expression.NET, it's a paid library but supports nearly everything.

We tested your date with DateTime.Parse and everything seem to work with our

[2018-01-18 09:03] saitham commented on #23
Thx for your quick response. Moving to Eval-Expression seems reasonable but ExpressionEvaluator is integrated deep inside our software and I can not estimate the changes we will have to make in case of that.

I hoped to find some kind of documentation for ExpressionEvaluator since it moved to get those dates working for now and upgrade/move later...

Best regards

saitham

[2018-01-18 13:32] JonathanMagnan commented on #23
Hello @saitham ,

Yes, I understand you cannot really make this move.

Is there no way for you to cast the date outside of the expression?

I tried a few scenarios, one way to make it work is to create your own converter:

[code]

Best Regards,

Jonathan

[2018-01-18 14:34] saitham commented on #23
Hey Jonathan

Thats exactly what I was looking for! Did not saw the wood for the trees. Never thought about a method.

Thank you very much.
saitham

[2018-01-18 14:34] #23 closed, assigned to JonathanMagnan

[2018-01-22 11:24] rodro75 opened #24 "Please consider supporting the ICustomTypeProvider interface"
Hi, I have a use case that doesn't seem to be covered yet by your very nice library.

In my app I have an existing data context which is made of a few dictionaries, because it's dynamic in nature.

I would like to give the user the ability to write conditions based on that data context, but it would be really nice if he/she could write something like `Custom.BirthDate.Year > 1980` rather than `Cus

[2018-01-22 11:52] JonathanMagnan commented on #24
Hello @rodro75 ,

I'm not sure about your implementation about the ICustomTypeProvider but here are two differents solution.

## Solution #1

Don't prefix dictionary key by the variable "custom". Directly use the key in your expression.

[code]

## Solution #2

Convert your Dictionary into an expando object.

[code]

---

Let me know if you can use one of this two solutions.

Best Regards,

Jonath

[2018-01-22 12:14] rodro75 commented on #24
Doh!
I should have tried solution #2 before everything else :-D

Thank you very much for the instant reply!

[2018-01-22 13:08] #24 closed, assigned to JonathanMagnan

[2018-01-25 15:16] rodro75 opened #25 "Issues with ExpandoObject and Static members"
Hi,

I'm having a hard time figuring out why I cannot reference String.IsNullOrEmpty(...) and I found that it really depends on the data that is sent in as a parameter! Sometimes the String alias is getting lost.

So I wrote some unit tests to figure out when and why.
It looks like the ExpandoObject is causing the bug, both when it's used as the root data object or as a second-level data object.

[2018-01-25 15:28] JonathanMagnan commented on #25
Hello @rodro75 ,

You are 100% right,

The `ExpandoObject` make static type not working as expected. The "String" is considered as being part of the `ExpandoObject` which is obviously wrong.

We added a temporary fix this week in the v2.4.13 since someone else reported us a similar issue.
Release Note: https://github.com/zzzprojects/Eval-Expression.NET/releases/tag/v2.4.13

By setting `UseTypeBefo

[2018-01-25 16:02] rodro75 commented on #25
Thanks @JonathanMagnan .

Unfortunately my use case is not covered by the new setting, which works only when the Expando is the root object.

The test **CanReferenceStringMethodsWhenExpandoInsideAnonymousDataContext** still fails.
I also tried not to use anonymous type as the root, by creating a class like this:

`
    public class DataContext
    {
        public DataContext()
        {

[2018-01-25 22:18] TonyValenti opened #26 "Performance Idea"
Hi ZZZ,
This isn't a bug report but an idea that I had that I wanted to share with you.  Ya'll seem to know the insides of .NET pretty well.

Anyway, I would definitely pay for the ability to convert runtime code into static values.  For example, let's say I have this code:

[code]

I would like my code to compile, and then, everywhere a ````[Fold]```` method is invoked, if all the values are know

[2018-01-28 14:29] JonathanMagnan commented on #26
Hello @TonyValenti ,

Could you provide us an example of use? Even if the example doesn't work, that will give us some hint about how you will want to use it since I'm not 100% certain to fully understand the request yet.

Best Regards,

Jonathan

[2018-01-28 14:42] JonathanMagnan commented on #25
Hello @rodro75 ,

Thank you for reporting,

We will look at it this Monday.

Best Regards,

Jonathan

[2018-01-29 15:45] rodro75 opened #27 "Unicode chars are not handled in member names"
Hello guys,

I've found that the library thows an exception when it encounters member names containing accented letters, like in the following unit test.

<pre>
[TestMethod]
public void CanHandleUnicodeMemberNames()
{
    var context = new EvalContext { UseCache = false };
    var code = @"Quantità == 10";
    var dataContext = new {Quantità = 10};
    var result = context.Execute<bool>(code, data

[2018-01-30 00:17] JonathanMagnan commented on #27
Hello @rodro75 ,

Thank you for reporting. You are right, our library doesn't support accent.

We will look at the code this week and evaluate the complexity of implementing that this week.

Best Regards,

Jonathan

[2018-01-31 17:35] JonathanMagnan commented on #27
Hello @rodro75 ,

The v2.4.15 has been released.

Accent should now be supported for a variable name.

Let me know if that works correctly.

Best Regards,

Jonathan

[2018-01-31 21:30] rodro75 commented on #27
Hey @JonathanMagnan ,

I confirm that the issue is gone 👍

Thank you very much for the rapid fix, you saved the day!

Bye,

-Rodro-

[2018-01-31 21:30] #27 closed, assigned to JonathanMagnan

[2018-02-02 14:19] rodro75 opened #28 "Issues with dynamically generated types"
Hi @JonathanMagnan ,

I'm back, sorry!  :-D

This time I'm having some problems with referencing instance members of a string property, which is declared in a dynamically generated type.

Given a datacontext that has a property named Custom of type dynamic, which is assigned an instance of a dynamically generated class that has a Cluster property of type string, the following expression throws an

[2018-02-02 14:29] JonathanMagnan commented on #28
Hello @rodro75 ,

Thank you for reporting.

We will try to check if we can find a fix to include it in the today release.

Best Regards,

Jonathan

[2018-02-02 15:01] JonathanMagnan commented on #28
Hello @rodro75 ,

While it could be possible to fix it for the `Eval.Execute` since the value is known at this time, it will be impossible for us to support it for `Eval.Compile` as value is unknown.

When using with `Eval.Compile`, the `Cluster` is still an object so it doesn't have any `Contains` method. To make it work with it, you will need to cast the property to string as you would normally

[2018-02-02 15:46] JonathanMagnan commented on #25
Hello @rodro75 ,

The v2.4.16 has been released.

All your units test are now passing with this version ;) We still have some improvement to do with Expando but at least this basic case now work.

Let me know if everything works correctly as well on your side.

Best Regards,

Jonathan

[2018-02-02 16:36] rodro75 commented on #28
Hmmm... I see.

But the point of generating an actual Type was really to help the compiler know that Cluster is a string member. Or are you talking about the fact that DataContext.Custom property is of type dynamic so you don't even know about the generated type?

Besides, my CampaignContext.Validate method, which uses Eval.Compile under the hood, doesnt complain at all when given the problematic

[2018-02-02 16:50] rodro75 commented on #25
Oh, great!

I will try again with Expandos and see if I can get rid of the need to generate types dynamically.

I'll let you know, thank you very much.

-Rodrigo-

[2018-02-02 16:57] JonathanMagnan commented on #28
Exactly, when we compile, we only know about type and not value (unless we use some workaround). So a dynamic type is simply an object at this stage.

Not sure to exactly understand but if all types are explicit, you should not get any issue I believe.

I recommend you to try and let us know

Best Regards,

Jonathan

[2018-02-05 10:58] rodro75 opened #29 ""Not" operator parsing problem"
Hi guys,

This isn't a big concern, since there are workarounds, but I thought you might be interested.
Given an eval context where I registered this static method:

<pre><code>
    public static class MyMethods
    {
        public static bool GiveMeTrue()
        {
            return true;
        }
    }
</code></pre>

<pre><code>
            var context = new EvalContext {UseCache = false};

[2018-02-05 14:34] JonathanMagnan commented on #29
Hello @rodro75 ,

Thank you for reporting,

We will for sure look at it.

Best Regards,

Jonathan

[2018-02-12 21:39] JonathanMagnan commented on #29
Hello @rodro75 ,

The v2.4.18 has been released.

The `NOT` operator should now work correctly with all your cases.

Best Regards,

Jonathan

[2018-02-13 00:31] JonathanMagnan commented on #25
Hello @rodro75 ,

This issue will be closed since it has been resolved.

Feel free to reopen it if you feel otherwise.

Best Regards,

Jonathan

[2018-02-13 00:31] #25 closed, assigned to JonathanMagnan

[2018-02-13 00:38] JonathanMagnan commented on #28
Hello @Jon,

This issue will be closed since it has been answered.

Feel free to reopen it if you feel otherwise.

Best Regards,

Jonathan

[2018-02-13 00:38] #28 closed, assigned to JonathanMagnan

[2018-02-14 09:29] rodro75 commented on #29
Hi @JonathanMagnan ,

I confirm that it now works as expected.

Thank you very much.

-Rodrigo-

[2018-02-14 09:29] #29 closed, assigned to JonathanMagnan

[2018-02-14 12:08] rodro75 commented on #28
Hi @JonathanMagnan ,

Sorry for the delay.
I made further tests by generating the whole DataContext type and now it works.
Basically instead of having:

[code]

now I have:

[code]

so that when `Eval.Execute` inspects the `Custom` field it understands its type by looking at the corresponding `FieldInfo`.

I guess it would be possible for `Eval.Execute` to get the type from the actual runtime valu

[2018-02-25 18:14] ashokrayal opened #30 "Not able to parse if(true)"

[2018-02-25 21:08] JonathanMagnan commented on #30
Hello @Ashokrayal ,

Could you provide an example? We have a few unit test with this expression which seems to work.

For example:

[code]

Best Regards,

Jonathan

[2018-02-26 02:22] JonathanMagnan commented on #26
Hello @TonyValenti ,

This issue will be closed since we haven't heard back from you.

Feel free to reopen it if you can provide the information we asked.

Best Regards,

Jonathan

[2018-02-26 02:22] #26 closed, assigned to JonathanMagnan

[2018-02-26 05:32] Ashokrayal commented on #30
It is failing at the time of scope compile.

`string expression = "if(true){}"
 var p = new CompiledExpression(expression) { TypeRegistry = new TypeRegistry() };
 return p.ScopeCompile<Scope>();`

object reference null reference is occurring at the last line.

[2018-02-26 05:33] ashokrayal commented on #30
It is failing at the time of scope compile.

`string expression = "if(true){}";
var p = new CompiledExpression(expression) { TypeRegistry = new TypeRegistry() };
return p.ScopeCompile<Scope>();`

object reference null reference is occurring at the last line.

[2018-02-26 13:56] JonathanMagnan commented on #30
Hello @Ashokrayal ,

You are currently using the `ExpressionEvaluator` library which has multiple issues and obsolete (no longer supported).

If that's possible, I recommand you to move to http://eval-expression.net/ (paid library). That's the library we support and which work with your expression.

Best Regards,

Jonathan

[2018-03-11 20:15] #30 closed, assigned to JonathanMagnan

[2018-06-05 10:08] ghost opened #34 "Exception on adding license"
Sometimes but not always we get an exception on adding the license when executing our unit tests.

[code]

The test are all executed in parallel so it could be possible that the AddLicense method is executed multiple times.

Our code in the a base class looks like this:
[code]

[2018-06-05 12:06] JonathanMagnan commented on #34
Hello @curdincaspar ,

Are you adding the license in every unit test using our library?

Is it possible in your unit test to add the license in the config file? I believe that will solve your problem

Best Regards,

Jonathan

[2018-06-08 08:49] ghost commented on #34
Hi @JonathanMagnan
I think this solved the problem :)
Thanks

[2018-06-08 08:49] #34 closed, assigned to JonathanMagnan

[2018-06-08 12:32] JonathanMagnan commented on #34
Great ;)

[2018-10-18 16:06] technieray opened #43 "brackets mismatch"
I just discovered a problem with brackets. Ex.
((1=1) or ((2=2)
the above formula considered as a legit expression and able to evaluate.  Can you please fix. Thanks

[2018-10-18 16:57] JonathanMagnan commented on #43
Hello @Platform101 ,

Why is that considered legit?

In the expression, there is 2 more open parenthesis that it has of closing parenthesis.

So I don't expect it works either.

Best Regards,

Jonathan

[2018-10-18 17:35] technieray commented on #43
Thanks for reply @JonathanMagnan. it actually worked and returns true..

var evalContext=new EvalContext();
var test=evalContext.Compile<Func<T, bool>>("((1=1) or ((2=2)");
var result= test(obj);

The generic T is just an empty class and obj just a new Class();

[2018-10-18 19:13] JonathanMagnan commented on #43
Hello @Platform101 ,

Could you reproduce it on a Fiddle?

On my side, it still doesn't work as expected: https://dotnetfiddle.net/Za0Rpd

[2018-10-18 19:23] technieray commented on #43
Hi @JonathanMagnan, there are some syntax error in the above. Here is the working one

https://dotnetfiddle.net/a3eL76

[2018-10-19 04:26] JonathanMagnan commented on #43
Thank @Platform101 ,

We will look at it.

I know that our library fixes some syntax error but that's really weird that one work!

Best Regards,

Jonathan

[2018-10-23 13:08] tomasceleda opened #44 "Support of DynamicObject or IDictionary<string, object> as context object"
If I run
[code]
where ServiceExample2 is inherits from Dictionary<string, object> it works as expected. When it implements IDictionary<string, object> or inherits DynamicObject and implements the properties dynamically, it throws NullReferenceException.

Is there some other way how to run on object with has not the properties known at compile time?

Thanks

[2018-10-23 14:50] JonathanMagnan commented on #44
Hello @tomasceleda ,

There is a lot of way to do it.

For example: https://dotnetfiddle.net/zclC3l

[code]

We will look about your both scenario to see why it throw an error.

Best Regards,

Jonathan

[2018-10-29 14:58] TehWardy opened #45 "How to debug issues ?"
So I hit this issue.
I made the following call ...

var function = Eval.Compile("activity.Foo = activity.Previous[0].Foo", "activity");

... and got this back ...

[code]
The next line in the reported exception was the line in my code that made this call.
I'm not sure how I can get a null reference exception when all i did was give it a simple string pair.

Any ideas?

[2018-10-29 21:25] JonathanMagnan commented on #45
Hello @TehWardy ,

Here is a working example: https://dotnetfiddle.net/74j9j1

[code]

Let me know if that helped you with your scenario.

Best Regards,

Jonathan

[2018-10-29 22:18] TehWardy commented on #45
Hi Jonathon,

So lets assume that your code is correct (and it seems to look fine, and
run ok).
Oddly in a situation where activity was null I would expect the function
call to fail but not the compile.

I seem to be getting null reference exception on the compile though with
exactly the same params as you're passing in.

I have however managed to find a null reference in some of my code leading
u

[2018-10-29 22:52] JonathanMagnan commented on #45
Hello Paul,

We try every month to improve our compiler to provide better error messages. I will add this issue to the list my developer will look this month to improve.

There is a huge difference between both of our code

Your: `Eval.Compile("activity.Foo = activity.Previous[0].Foo", "activity");`
Mine: `Eval.Compile<Action<Activity>>("activity.Foo = activity.Previous[0].Foo", "activity");`

In

[2018-10-30 17:17] TehWardy commented on #45
How do i deal with polymorphic scenarios like this ....

[code]

// assuming I have done the work and I know the current activity instance is definitely a FooActivity and not just a regular Activity I have this need to dynamically build an Action<Activity> but the compiler doesn't seem to like me doing this ...

`var method = Eval.Compile<Action<Activity>>("activity.Foo = activity.Previous[0].Foo"

[2018-10-30 19:13] JonathanMagnan commented on #45
Hello @TehWardy ,

If I understand well, even the C# compiler will not like it.

A `previous` item is of type `Activity` and you try to use a property of type `FooActivity` without casting it.

It's possible on your side to cast it? by example: https://dotnetfiddle.net/UwE89l

Otherwise, another way is maybe perhaps using ExpandoObject that could I believe support this kind of scenario without cas

[2018-10-31 08:54] TehWardy commented on #45
Ah nice ... i wasn't aware i could do that ...
This is a simple change ... bit of reflection involved in wrapping the {source} replacement i'm already doing but totally reasonable given the context in which i'm operating.

Am I correct in understanding then that Eval.Compile is essentially just calling the roslyn API under the bonnet?
Also is there a way to ensure a level of system security by for

[2018-10-31 12:01] TehWardy commented on #45
can't seem to get this to work so I farmed this one liner out to it's own method ...

[code]

if I put a breakpoint on that line and check typeof(T) T is in fact a type that inherits from Activity (hense how I got here in the first place.
And script is (for example)

[code]

So the call is like ...

`Compile<FooActivity>(script);`

Then it gives me this exception ...

[code]

....

Having dug in t

[2018-10-31 13:24] JonathanMagnan commented on #45
You are 100% wrong. We have written our own `CodeAnalisys` and `CodeCompiler` that mostly expression tree: https://expressiontree-tutorial.net/

We might release another product in the future that use `Roslyn` but this library will never use it.

It's possible to register only some type by default using the following code:

[code]

The `RegisterDefaultAliasSafe` should only register type that shou

[2018-10-31 13:28] JonathanMagnan commented on #45
For your second post,

You can register type or assembly using `Register` methods: https://eval-expression.net/register-unregister

If it still doesn't work, do you think you will be able to provide a project sample with the issue? It will be easier for us to look at it: info@zzzprojects.com

[2018-10-31 13:51] TehWardy commented on #45
Oh that's interesting @JonathanMagnan ...
Dam you guys went all out huh!!

Does contructing and operating on an EvalContext do something with the current appdomain under the bonnet.

So if I register a ton of assemblies in it in say static void main of a console app will all calls to Eval.Compile then use what I setup in that EvalContext as shown here ...

https://eval-expression.net/options

[cod

[2018-10-31 20:29] JonathanMagnan commented on #45
Hello @TehWardy ,

I'm sorry, I'm not sure to understand the question.

## Multi-threading
In multi-threading scenario, you should only configure the default EvalContext (the one used for `Eval.Execute`) once. Usually on application Startup.
[code]

If every thread have some special configuration, you need to create a new EvalContext inside the thread and use this instance instead

[code]

I hope

[2018-10-31 20:33] TehWardy commented on #45
Ah perfect :)

That works for me!

[2018-10-31 20:33] #45 closed, assigned to JonathanMagnan

[2018-11-02 10:12] TehWardy commented on #44
Interesting ... I hit this ...
https://stackoverflow.com/questions/53104874/querying-dynamic-data#53114267

Apart from the typo in my query code (referring to properties that don't exist I found that the problem was much the same.

I'm using Eval like this ...

[code]
... by doing the json bit at the end I can "not worry about selections having to create new t {  }" instances during the querying p

[2018-11-06 14:41] TehWardy opened #47 "Querying dynamic data with generated LINQ queries"
Hey @JonathanMagnan,

Here's some more detail on an issue i'm having which relates closely to #44 but I didn't feel right in canabalizing @tomasceleda's issue for my own problem (feel free to close and merge if you think these are the same problem though).

I put together a fiddle (seems to be the best way to hand over a complete "working" sample of the problem ...

https://dotnetfiddle.net/ZZ4V1B

[2018-11-12 03:59] JonathanMagnan commented on #47
Hello @TehWardy ,

It looks we really missed the follow-up on your request.

I was about to answer you on the other thread by asking for a Fiddle since our example is working: https://dotnetfiddle.net/tzeCbZ

But it looks you already provided one.

We will start to look at it tomorrow.

Sorry for the delay.

Best Regards,

Jonathan

[2018-11-12 04:01] JonathanMagnan commented on #44
Hello @tomasceleda ,

This issue will be closed since we answered it.

We will continue the @TehWardy request on the newly thread he created

Best Regards,

Jonathan

[2018-11-12 04:01] #44 closed, assigned to JonathanMagnan

[2018-11-14 01:36] JonathanMagnan commented on #43
Hello @Platform101 ,

It has been a while, sorry for the delay.

That issue with several other (parameter, index, generic type) has been fixed and should now correctly show an error message starting from v1.8.0

Example: https://dotnetfiddle.net/8VXV6O

Let me know if everything works now as expected.

Best Regards,

Jonathan

[2018-11-15 01:50] JonathanMagnan commented on #47
Hello @TehWardy ,

We have spent quite a few times in the past day on that issue but `dynamic` always cause some headache and we are not quite sure that we will succeed to support it or not in that scenario.

However, we have made some progress, so we are still looking at it.

I will try to keep you updated but we cannot make any promise on this request due to the complexity.

Best Regards,

Jonat

[2018-11-15 14:46] TehWardy commented on #47
Hi @JonathanMagnan,

thanks for keeping me up to date.

Interestingly enough ... i have the same problem in our front end code that will be providing the metadata to the code that generates the code i feed in to your library.

I think the issue is in .Nets handling of the generic when used like this ...

`Foo<dynamic> `

... When the receiver is given that if you use reflection to get the type inf

[2018-11-18 23:42] JonathanMagnan commented on #43
Hello @Platform101 ,

This issue will be closed since it has been resolved.

Feel free to reopen it if you feel otherwise.

Best Regards,

Jonathan

[2018-11-18 23:42] #43 closed, assigned to JonathanMagnan

[2018-11-21 16:41] JonathanMagnan commented on #47
Hello @TehWardy ,

Great news, we have made a lot of progress on that issue.

Your code currently works but some cleanup is still required for our fix.

We were so much focusing to find why the `dynamic` keyword + `LINQ` was not working that we missed the real issue.

The first issue is caused by how our library solves generic type. `(IEnumerable<dynamic>)` was returning `IEnumerable` since a type

[2018-11-21 18:13] TehWardy commented on #47
oh that's awesome news @JonathanMagnan  thanks for the update :)
Can't wait to see this in my solution on monday !!!

[2018-11-27 13:35] JonathanMagnan commented on #47
Hello @TehWardy ,

The v2.8.6 has been released yesterday.

Could you try it and let me know if everything works as expected? (It currently doesn't work with.NET Fiddle since anonymous type creation is not supported).

I'm not sure if we have gone too far or not in this request by automatically supporting `dynamic` type even if some case could have been `object` type. So we might need to rollback

[2018-11-28 12:42] TehWardy commented on #47
Hi @JonathanMagnan, I have re-run the sample i uploaded to fiddle and it died, then i noticed you mentioned that the fiddle wasn't working (presumably because of the reason you outlined) so I ran the local copy of that that I have and that gave me a cast exception.

I would send you the zipped up project but it's just as easy for you to copy paste the fiddle code in to a new console app (just add

[2018-11-28 12:52] JonathanMagnan commented on #47
You are right,

I thought we had the same code as you but it look I removed this line by mistake which throw this cast error:

[code]

We will look at it.

[2018-11-28 13:12] TehWardy commented on #47
Yeh I figure you would know more than me all i got was this ...

[code]

[2018-11-28 16:29] JonathanMagnan commented on #47
The v2.8.7 has been released.

I double checked with the original code to make sure we didn't forgot anything this time ;)

The issue was caused because on our side, the code is similar to:

[code]

which throw a `Cast` error. In this situation, we will now assume the variable `a` is of type dynamic instead.

Let me know if this new version works as expected.

Best Regards,

Jonathan

[2018-11-29 16:32] TehWardy commented on #47
@JonathanMagnan we've managed to get this working now.
I'll keep testing around this area though and let you know if anything else comes up.

Thanks for your work on this!

[2018-11-29 16:32] #47 closed, assigned to JonathanMagnan

[2018-11-30 05:09] kinshuk4u4u opened #48 "Dynamic update Query in EF core"
Hello

My requirement is  i want to find  table  which have foreign key  of  Master table  then i want to update  foreign key all this table.

**Requirement with example**

I have i product table. its primary key is  PkProductID  . its in have foreign key in multipal table. I want to find all the table which have foreign key on productid and update  prodductid  from  other productid inall the tabl

[2018-11-30 16:23] JonathanMagnan commented on #48
Hello @kinshuk4u4u ,

Eval-Expression.NET is an expression evaluator. It can allow you to create dynamic query in `EF Core` but from what I understand, that's not at all what you want to achieve.

So no, I do not believe this product will help you unless a misunderstand your requirement.

[2018-12-09 18:30] #48 closed, assigned to JonathanMagnan

[2019-01-09 18:31] tiptopdevelopment opened #49 "System.StackOverflowException"
First of all, awesome library!!

I'm getting StackOverflow at i = 212;

[code]

[2019-01-09 19:58] JonathanMagnan commented on #49
Hello @tiptopdevelopment ,

Thank you for reporting, we have confirmed this issue.

We believe the issue is due because of `Stack` become too big.

Fixing it may require a lot of work due that is not something that we have expected to happen when we created the library, so the question it's more if you really need it fixed or not?

This issue will not likely happen with a real expression but if yo

[2019-01-20 20:16] #49 closed, assigned to JonathanMagnan

[2019-02-07 11:36] TehWardy opened #50 "Dynamic querying ... RE:#47 (i guess)"
Hey Jonathon,

I just yesterday updated to the latest version (2.9.6.0) as I knew today I would be working on this particularly troublesome query (it's brutal not being dynamic to be honest)
I've extracted this small piece of it to help identify the problem.

It seems that Eval is not agreeing with the same raw C# and I wondered if you'd lend some light on the subject.

I've also uploaded the code

[2019-02-07 13:51] JonathanMagnan commented on #50
Hello @TehWardy ,

Thank you for reporting,

We will look at what can be done with this expression.

We will try to provide you an answer next Monday, dynamic is always a little bit more complex to work with ;)

Best Regards,

Jonathan

[2019-02-08 01:45] JonathanMagnan commented on #50
Hello @TehWardy ,

The v2.9.7 has been released.

- We now support a method called from a dynamic type in a dynamic lambda in a... well ;)
- For `Func`, we now convert to the right return type if they are different but only for type object

However, we didn't success to fully make work your expression.

We only removed a few `Array` call

[code]

I'm not sure yet why it was not working with `ToArr

[2019-02-08 13:22] TehWardy commented on #50
The ToArray() calls are just a side effect of the processing my JSON processor builds out.

Here's the example of my source that generates the code I build for your expression parser ...
[code]
... you should be able to descern from that how it translates.

I might be able to figure out how to remove the excess ToArray() calls but I guess my concern is that "like for like" the equivilent LINQ quer

[2019-02-08 13:25] JonathanMagnan commented on #50
We will try to investigate why the `ToArray` fails next week.

Yes, the `LINQ` part should now work.

[2019-02-08 13:33] TehWardy commented on #50
Hmmm ...

![image](https://user-images.githubusercontent.com/6891030/52481176-b0f5ae80-2ba5-11e9-81be-34208a5ffc50.png)

... when it comes to dealing with IEnumerable types quite often it's difficult to map things.
Separately but possibly related I've noticed that if I add "using Z.Expressions.Eval" at the top of my code I can't use LINQ any more for the same reason ... could this be what this is?

[2019-02-19 11:16] TehWardy commented on #50
Hey @JonathanMagnan just touching base ... any luck here ?
No pressure just a quick passing "hey"!

[2019-02-20 00:54] JonathanMagnan commented on #50
Hello @TehWardy ,

Thank you for the friendly reminder.

The v2.9.11 has been released. Our library should be now compatible with the `ToArray` in this kind of situation.

It's possible for you to provide an example of the Ambiguous Match, I didn't success to reproduce it on my side.

Best Regards,

Jonathan

[2019-02-20 09:36] TehWardy commented on #50
Just tested the sample code I gave you above ... that appears to be working now on my end too.
I think the latest version has got it.

[2019-02-20 09:36] #50 closed, assigned to JonathanMagnan

[2019-03-03 16:50] bkora opened #51 "Are there plans to add support for .Net Core?"

[2019-03-03 19:33] JonathanMagnan commented on #51
Hello @bkora ,

The library already supports .NET Core,

Is there something that doesn't work?

Best Regards,

Jonathan

[2019-03-09 12:03] lothar7 opened #52 "Problems with function overloads"
I have the following code in my functionscope that used to work with the free version of your library. After upgrading to the paid version it no longer works.

The problem is that I use function overloading and so these two Max functions will not be detected when compiling the expression.

       public double Max(double var1, double var2, bool ignoreNaNValues)

       public double Max(double var

[2019-03-09 12:21] lothar7 commented on #52
Turns out its the function names Max, Min, Sum etc that is causing problems. Is there some conflict with linq?

[2019-03-09 12:21] #52 closed, assigned to nobody

[2019-03-09 12:25] lothar7 commented on #52
Turns out that the following did the trick

`EvaluationContext reg = new EvaluationContext();`
 `reg.UnregisterAll();`

[2019-03-11 01:53] #51 closed, assigned to JonathanMagnan

[2019-03-21 05:22] daveyostcom opened #53 "Seems that // comments cause trouble"
Please see line 50 in [this example](https://dotnetfiddle.net/ZE67wT).

[2019-03-21 09:56] JonathanMagnan commented on #53
Hello @daveyostcom ,

Thank you for reporting.

We will look at it.

Best Regards,

Jonathan

[2019-03-21 10:34] JonathanMagnan commented on #53
Hello @daveyostcom ,

Did you success to reproduce this issue outside of Fiddle?

That issue is caused by Fiddle that uses only "\n" instead of "\r\n" for new line. A simple string.split doesn't work either: https://dotnetfiddle.net/eoHJ2q

[code]

Since we are the co-owner of Fiddle, I guess the issue is still on our side ;)

We will look at it and try to deploy a new version of Fiddle with this

[2019-03-21 11:05] daveyostcom commented on #53
Happens in Rider on Mac.

[2019-03-21 12:15] JonathanMagnan commented on #53
Oh damn, you are right.

The end line is not the same in every `OS`. So I guess we will need to fix both.

Fiddle and C# Eval

[2019-03-21 14:59] JonathanMagnan commented on #53
Hello @daveyostcom ,

A new version is now available.

Your Fiddle is now working as expected: https://dotnetfiddle.net/ZE67wT

The issue has been fixed only in the C# Eval Expression, a fix for Fiddle will be provided on the next released.

[2019-03-22 00:19] daveyostcom opened #54 "Please explain more about how it works"
Please greatly expand the [Documentation](https://eval-expression.net/eval-execute). Many things are mysterious. Documentation about how things work would really help.
- Why do I have to put names for variables in my code into a dictionary, whereas things from certain libraries are just there. Btw, which libraries are included?
- How do I use the name of one of my classes in a script? For example,

[2019-03-22 00:21] daveyostcom opened #55 "The parser should give error messages at least as good as from the C# compiler."
This is really unusable:

[2019-03-22 04:37] JonathanMagnan commented on #55
Hello @daveyostcom ,

Please provide the code that raises this error and we will improve it. We have improved a lot of error message in the past and we keep improving them as we get it.

Best Regards,

Jonathan

[2019-03-22 04:55] JonathanMagnan commented on #54
Hello @daveyostcom ,

We currently work hard on our documentation as we know that's currently a big issue for everyone with all our libraries.

We are currently making some good progress with Entity Framework Extensions, we should move after on Dapper Plus and then C# Eval Expression.

---

That being said, I believe you currently use the library in a very wrong way which make it harder to underst

[2019-03-22 05:11] daveyostcom commented on #54
Fantastic!
Thanks!

[2019-03-22 05:16] daveyostcom commented on #54
What are the space/performance tradeoffs of using register instead of a dictionary, in cases where the dictionary can work?

One advantage of the dictionary approach would be allowing the script to access only certain symbols, yes?

[2019-03-22 05:25] daveyostcom opened #56 "Can't seem to access a member of a base class"
See `evalDemo5()` in [my example code](https://dotnetfiddle.net/ZE67wT).

[2019-03-22 05:25] daveyostcom commented on #55
Here's an error message from [this example](https://dotnetfiddle.net/ZE67wT):

Run-time exception (line 116): Object reference not set to an instance of an object.

Stack Trace:

[System.NullReferenceException: Object reference not set to an instance of an object.]
   at .(ExpressionScope , SyntaxNode )
   at .(ExpressionScope , SyntaxNode , Expression , Boolean )
   at .(ExpressionSco

[2019-03-22 10:13] JonathanMagnan commented on #55
Thank you,

I have assigned this task to one of my developers. We usually try to add a few more every time.

Best Regards,

Jonathan

[2019-03-22 10:18] JonathanMagnan commented on #56
Hello @daveyostcom ,

I believe this one is an expected behavior.

Your member of base class is currently private. Which mean, you cannot access it from child.

You need to set it either public or protected

[code]

Let me know if that's now working as expected.

Best Regards,

Jonathan

[2019-03-22 10:27] JonathanMagnan commented on #54
I believe the only tradeoff is readability.

Performance, memory space or similar tradeoffs are just to small for those cases to make a difference.

You can also access to only specific class by using `RegisterType` instead of registering an assembly.

[2019-03-22 13:21] daveyostcom commented on #56
Silly me!

Sorry for the bother.

[2019-03-22 13:21] #56 closed, assigned to JonathanMagnan

[2019-03-23 08:54] JonathanMagnan commented on #55
Hello @daveyostcom ,

Unfortunately, it looks you updated your Fiddle to a working one.

So my developer is not able to investigate your error as there is currently no error in the provided Fiddle.

Could you create a new one that shows the error?

Best Regards,

Jonathan

[2019-03-23 08:57] daveyostcom commented on #55
Here you go:
[parser error from private base class field](https://dotnetfiddle.net/lYGOif)

[2019-03-23 08:58] JonathanMagnan commented on #55
Thank you ;)

[2019-03-24 15:15] #53 closed, assigned to JonathanMagnan

[2019-03-25 22:29] #55 closed, assigned to JonathanMagnan

[2019-03-26 05:06] JonathanMagnan commented on #55
Hello @daveyostcom ,

A new version has been released.

Some error message such as this one has been improved:

      x1 + x2

Best Regards,

Jonathan

[2019-03-26 07:12] daveyostcom commented on #55
Thanks

[2019-03-31 10:25] #54 closed, assigned to nobody

[2019-04-04 23:49] daveyostcom opened #57 "need a better error message when a script tries to access a nonpublic symbol"
Example [here](https://dotnetfiddle.net/BHSa67).

Btw, why must a symbol be public to be usable from a script within the same class?

[2019-04-05 00:02] daveyostcom opened #58 "eval error"
I intended [this example](https://dotnetfiddle.net/udZfWL) to be equivalent to an example in [a previous report](https://github.com/zzzprojects/Eval-Expression.NET/issues/57), but it doesn't work, and I don't understand the error message:
[code]

[2019-04-05 04:35] JonathanMagnan commented on #57
I would have expected that protected would have worked as well.

We will look at it

Best Regards,

Jonathan

[2019-04-05 04:39] JonathanMagnan commented on #58
There is no applicable member with the name "addInput",

A member is a property, method, constructors, fields, etc.

In this Fiddle, I don't find anything either with the name "addInput".

Let me know if that explains better the error message.

[2019-04-05 07:28] daveyostcom commented on #58
I fiddled with the fiddle to add lines that were strangely missing.

[2019-04-05 09:01] JonathanMagnan commented on #58
Oh now it makes sense ;) We will look at it.

[2019-04-08 03:20] JonathanMagnan commented on #57
Hello @daveyostcom ,

Is there a reason why you want access to the protected property? They are not public, you cannot access them either outside of your class, so why do you expect to be able to access them via our library?

[2019-04-08 03:23] JonathanMagnan commented on #58
Hello @daveyostcom ,

It's possible to register static member but that doesn't work with non-static member. An instance must exist and it's impossible for our library which class instance it should use.

One way to make it possible is by providing the instance to the execute method

[code]

[2019-04-08 03:30] daveyostcom commented on #57
Well that's actually one of my questions: what is the execution environment of the compiled code? I assumed that it somehow runs in the context of the `this` that's passed to it.

[2019-04-08 03:33] daveyostcom commented on #58
I'm fine with that. Thanks.  Is it faster to call Execute rather than Compile followed by calling the compiled code? If so, how much.

[2019-04-08 03:37] daveyostcom commented on #58
I updated the test case, but now I wonder why it produces no output.

[2019-04-08 08:44] JonathanMagnan commented on #58
Exactly the same performance. The `Execute` always call the compile and then execute the returned delegate.

The compile method will be faster when you need to execute the same method multiple time. For example in a loop. The execute method is still fast but needs to build a key and check in a cache if the compiled version exists and that makes it slower than directly using the compiled delegate.

[2019-04-08 08:45] JonathanMagnan commented on #58
You don't have any Console.WriteLine but you might use a different fiddle. Work fine on my side

[2019-04-08 08:49] JonathanMagnan commented on #57
The run is code as if it was an external library that executes it (well, that's, in fact, the case). By default, we cannot register non public method via `RegisterAssembly`, since WAY too many members will be registered.

But we could add an overload that registers it, that's very easy.

So let say the execution environment is outside of your library.

[2019-04-08 17:58] daveyostcom commented on #58
Fixed. Thanks!

[2019-04-08 18:17] daveyostcom commented on #57
I have updated the comment in my example to explain this, in case anyone looks.

[2019-04-08 19:05] JonathanMagnan commented on #57
Great ;)

Can we close this issue?

[2019-04-08 19:06] JonathanMagnan commented on #58
Great :)

Let me know if we can close this issue.

[2019-04-08 20:41] #58 closed, assigned to JonathanMagnan

[2019-04-08 21:15] #57 closed, assigned to JonathanMagnan

[2019-04-27 00:41] daveyostcom commented on #57
Hi,

If you want, I could vastly improve your documentation. Here is something I posted today. I can give you more writing samples.
https://stackoverflow.com/questions/55875809/graphviz-trouble-with-grid-layout-using-pos-attribute

I would start by asking you a bunch of questions to get to a deep understanding. Then present the information so everyone could get it immediately.

Best,

Dave
https:/

[2019-04-29 12:16] JonathanMagnan commented on #57
Hello @daveyostcom ,

Sure, you can contact me directly here: info@zzzprojects.com

Getting some help with the documentation is always appreciated ;)

Best Regards,

Jonathan

[2019-08-22 09:39] TehWardy opened #60 "Limited exception information ... stuck ..."
Hey guys,

I got everything running under .Net 4.x and then it turned out for M$ reasons the only way everything was going to work the way I wanted was to upgrade to .Net Core 2.2 so here I am.

This code works perfectly under .Net 4.x but for some reason under .Net Core I can't seem to get it to behave and the exception is giving me literally nothing.

So here's the code ....

[code]

At runtime

[2019-08-22 09:49] TehWardy commented on #60
Oh one other thing ... this is how I setup the "assignContext" which is a ZZZ EvalContext that i'm using for this call ...

[code]

... all the types I care about are in assemblies named "Core.*.dll" so this is a targeted fetch that pulls all the things it could possibly need.

[2019-08-22 12:42] JonathanMagnan commented on #60
Thank you @TehWardy for reporting,

We have not been able to reproduce it but we might have missed something.

Do you think you could provide a standalone version with only this code that fails?

[2019-08-22 13:09] TehWardy commented on #60
New project > net core console app, then drop this in ...

[code]

My understanding is that this should work as i'm only trying to compile the function at this time and not actually run it.

[2019-08-22 13:22] TehWardy commented on #60
hmmm hang on ... that might be because the types are not defined.
Let me rework that.

[2019-08-22 15:16] TehWardy commented on #60
@JonathanMagnan random question ...
Do you have a discord server?

I use discord a lot and we have a discord server for the company, it's real easy to share code samples and discuss problems on.

[2019-08-23 12:44] JonathanMagnan commented on #60
Thank you,

We are currently looking at it.

[2019-08-23 13:10] JonathanMagnan commented on #60
Hello @TehWardy ,

You do not register class in your project which causes the issue.

Here is a way to do it by registering a namespace:

[code]

[2019-08-23 13:11] TehWardy commented on #60
Oh ... that's new ... I didn't have to do that before under .Net 4 ... is this a .Net Core thing?

[2019-08-23 13:14] TehWardy commented on #60
Given my original example source the last line of code had ...

[code]

.... Is it possible to have an override of this that auto registers all namespaces in the given assmeblies?

[2019-08-23 13:52] JonathanMagnan commented on #60
Hello @TehWardy ,

No, that's not new to .NET Core. You had to do it also before.

I'm not sure to understand what exactly you want. You just need to call the `RegisterAssembly`. If you have a class that inherit from our context, you can add this code in your constructor.

[2019-08-23 14:00] TehWardy commented on #60
My understanding is that if I do this ...

[code]

I'm constructing the context then telling it what types I want it to know about as a collection of assemblies that contain them.

What I think you're saying is that In addition to providing the assemblies I also need to tell it what namespaces from those assemblies I want to use.
What I guess i'm asking is "Given either a collection of assemblies

[2019-08-23 17:13] JonathanMagnan commented on #60
Not at all,

The `RegisterAssembly(stackAssemblies);` works great. Our library will register all types in all namespaces which is exactly what you want.

You do not have to use the `RegisterNamespace`, it is just another way to register type in our library.

[2019-08-23 18:22] TehWardy commented on #60
Oh i see what you're saying ... yeh my bad ...
That means the sample I gave you is broken in a different way to the code in my main code base but exhibits the same exception behaviour so the exception could be related / similar to the actual problem I have.

Having checked in my code and the expression used when I put a breakpoint on the last line in the original question example I find that the a

[2019-08-25 15:24] JonathanMagnan commented on #60
Hello @TehWardy ,

Just to let you know, my developer started to work on something that will tell you which types are missing.

He almost completed the code so we should be able to provide you something probably on Monday.

[2019-08-25 15:57] TehWardy commented on #60
Awesome :) you guys are on overtime bashing this out on a bank holiday weekend I love the dedication :)

[2019-08-27 13:21] JonathanMagnan commented on #60
Hello @TehWardy ,

Just to confirm we made the right thing, how do you expect this functionality to work?

- Should it tell you all types used?
- Should it tell you only types missing?
- Should it auto add missing types? (might not always work if multiple type names are in different assembly)

[2019-08-27 14:20] TehWardy commented on #60
For the above ...
It would be really good to have a method like ...

`Type[] types = context.GetKnownTypes();`

... which lists all registered types that the parser can consume (including ideally, empty generic types).

Ideally I would write my expressions, give them to the parser and then the parser would give me back (in the event of an axception) saying something like "unknown type used for cas

[2019-08-29 14:04] JonathanMagnan commented on #60
Hello @TehWardy ,

We added `UsedTypes`, `MissingTypes`, `RetryAndFindMissingTypes` to check what type has been used during the last compilation

Here is an example:

[code]

Let me know if that's what you were looking for.

Best Regards,

Jonathan

[2019-08-29 14:19] TehWardy commented on #60
sweet so if I do this will it tell me where I messed up ...

[code]

This would be perfect to help me report back to my logs / UI what exactly went wrong.

...

Also I think I managed to fix the initial problem I was having with pure luck which was related to this so I can definitely see this saving time.

As always, Love your work man !!!
Thank you to you and your team for all the hard work on th

[2019-08-29 16:40] JonathanMagnan commented on #60
Thank you for your good word ;)

In fact, if we success to compile when the option `context.RetryAndFindMissingTypes = true;` is enabled, it will return the compiled version, however, the missingTypes will not be null.

[code]

[2019-08-29 16:47] TehWardy commented on #60
oh I c ... enabling that function does a sort of "safe compile" so it'll succeed but produce null in the variable "compiled" in the event that types are missing.

Ok I can work with that :)
Thanks!

[2019-08-29 18:27] JonathanMagnan commented on #60
Almost...

In actually return the compiled version (but doesn't cache it), so you can actually execute it. However, you know that the code was retried with all domain assemblies when the variable `RetryAndFindMissingTypes` is not null.

Perhaps we should have raised an error instead as you did with the try/catch!

[2019-08-29 19:02] TehWardy commented on #60
Yeh so my way assumes that it tries, fails internally, sets up the collections exposed then throws a "Z.EvalException" or something.

That's a more "typical best practice" way of handling this kind of scenario (i think)

[2019-08-29 19:18] JonathanMagnan commented on #60
Since the feature is pretty fresh and outside of you, none know about it, we will think about it tomorrow and maybe do it this way ;)

[2019-08-29 19:38] TehWardy commented on #60
Sounds good :)
Awesome being able to feedback like this!

[2019-08-30 07:44] TehWardy commented on #60
Some further thoughts i've had over night on this ...

I'm thinking the other up side here is that if anything at all goes wrong the context internally should catch that and attempt to provide some explanation / extended information.

In this situation where we know the failure is due to Missing types when I do this ...

[code]

... So key changes I'm "suggesting" here ...

- The extra information

[2019-08-30 12:55] JonathanMagnan commented on #60
Thank you TehWardy for this additional research.

I will think about the exception. We usually try to avoid custom exceptions in our library but I must admit that sometimes it could be the best way to handle this.

[2019-08-30 14:07] TehWardy commented on #60
Fair enough ... it might be enough to throw an Aggregate exception, but I thought the use of a custom exception type would allow you to extend it with additional information ...

consider this (in your code)...

[code]

This way the EvalException would contain the Context that was at fault, and you could "over time", as more tickets come in extend the EvalException class without having to make cha

[2019-09-05 18:01] JonathanMagnan commented on #60
Hello @TehWardy ,

Sorry for the late answer, I have been sick for a few days and was unable to review & release change made by my developer (had to catch up after 100+ email and still trying to catch up...)

The v2.9.51 has been released.

The option has been renamed to `RetryAndThrowMissingTypes`

and now throw an exception

[code]

## RetryAndThrowMissingTypes
Turning on this option is required

[2019-09-06 08:21] TehWardy commented on #60
Hey @JonathanMagnan ,

Sorry to hear you were ill, hope you're back to 100% again soon, i know the feeling of coming back to a long list of emails lol.

...

Ok sounds reasonable.
I'm happy to go with this as it solves my problem.
Some thoughts for the future if you ever do come back round to this ....

Have the context run with the option turned off and in the event of a failure auto turn it on a

[2019-09-06 10:59] JonathanMagnan commented on #60
Yup, going great now ;)

Oh damn, you are right about the example. I just edited it, it looks like I copied your text instead to create a real example. There is not custom exception, unfortunately.

If I understand correctly, this is what we want to avoid exactly. Image the following code

[code]

The expression is invalid, but if we automatically check for missing types, it will takes way longer

[2019-09-06 11:56] TehWardy commented on #60
Yeh I completely agree:
My thinking was that internally behind the call I make the context would do something like ...

[code]

I'm sure there's tons more going on but the basic idea behind this is that I could then do ...
[code]

Context for my use ...

I have a web based UI that builds a json blob that represents a "piece" of a workflow.
I have code that translates that in to c# and hands it off

[2019-10-03 14:24] shapemetrics opened #62 "IQueryable EF Syntax error with select"
The below statement is invalid when attempting to select against a sub-item in the query. The object exists using Include(p => p.Contacts) which should allow this syntax in static code.

[code]

However, here is the output error I am getting from the above statement.
The entity looks like so

Case
-> Contacts, where contacts are a related table.

The EF query is

Context.Cases.Include(p => p.Conta

[2019-10-03 15:21] JonathanMagnan commented on #62
Hello @shapemetrics ,

Thank you for reporting.

My developer will try to reproduce your scenario.

Best Regards,

Jonathan

[2019-10-03 18:28] JonathanMagnan commented on #62
My developer looked at it but he was not able to reproduce the issue.

However, he finds your code provided a little bit strange such as the `AddressLine1` property on the list of contact `Contacts`. He believes that some information is missing to allow him to reproduce it.

Is it possible to provide a runnable example with the issue?

Here is one of the examples he made:

[code]

[2019-10-03 18:59] shapemetrics commented on #62
I am using collections on a foreign key.

[code]

[2019-10-03 21:01] JonathanMagnan commented on #62
Hello @shapemetrics ,

Here is a .NET Fiddle with your code: https://dotnetfiddle.net/74mbTs

We are not sure yet of your full expression, so if you could provide it, we will be able to improve our online example.

Best Regards,

Jonathan

[2019-10-04 17:17] shapemetrics commented on #62
[code]

[2019-10-04 19:32] JonathanMagnan commented on #62
Hello @shapemetrics ,

Here is what my developer provided me:

[code]

The child is a collection in our example, so you need to select the property, you cannot access it directly through the collection.

Let me know if that solves this issue.

[2019-10-09 13:37] shapemetrics commented on #62
It looks like I will need to create multiple queries based on the collection(s) and join with the original to produce a new anonymous type. Thanks for the heads up.

[2019-10-09 13:37] #62 closed, assigned to JonathanMagnan

[2019-10-26 17:59] waleedabuyahia opened #63 "The Column name in the expression is limited to 13 characters other wise it returns an error"
"Oops! No applicable member has been found for the expression. The error occurred for expression \".\" at position 3 near \".Where(x => x.[ColName]\".",

if the expression is more than 13 characters it will return this error

[2019-10-28 12:45] JonathanMagnan commented on #63
Hello @waleedabuyahia ,

Is it possible for you to provide a full example?

We have many expressions (include LINQ) that use more than 13 characters and they are all workings.  So I believe we are missing a piece of important information.

Best Regards,

Jon

[2019-10-30 14:46] JonathanMagnan commented on #63
Hello @waleedabuyahia,

Since our last conversation, we haven't heard from you.

don't hesitate to send us an example!

Best regards,

Jon

[2019-11-05 14:39] JonathanMagnan commented on #63
Hello @waleedabuyahia

A quick reminder that we are here to assist you!

Feel free to send us an example!

best regards,

Jon

[2019-11-05 17:13] TehWardy opened #64 "Exception thrown attempting to Eval Valid c#"
I figured i'd just get right to the details and put together the bits in a gist ...

https://gist.github.com/TehWardy/24c22e3131e6cf422b6d5f4be95f08c1

... pull the 3 files in to a new console app (i'm using .Net Core 2.2 in case it matters) then run, it's all good until the func compile.

Let me know if you need anything else to help resolve this.

[2019-11-06 13:48] JonathanMagnan commented on #64
Hello @TehWardy ,

Thank you for reporting, I believe we have enough information.

I'm not sure if there is more error yet but at least we can reproduce the issue and get the first error which happens here `Currency = ((dynamic)source).Currency.Value`

I will let you know when we will have more information about it.

Best Regards,

Jon

[2019-11-08 13:36] JonathanMagnan commented on #64
Hello @TehWardy ,

Just to let you know, we have made a lot of progression in this issue.

The first 2 cases are now solved and we believe we are on the last one which is caused by the following line in your list initialization:
[code]

[2019-11-12 21:09] JonathanMagnan commented on #64
Hello @TehWardy ,

One issue is remaining: A constructor with dynamic parameter

A quick fix is simply to cast the dynamic parameter by the right type:

[code]

We will continue to investigate a solution tomorrow. Otherwise, we will probably release the code that fix all other case we got in your expression.

[2019-11-13 14:04] JonathanMagnan commented on #63
Hello @waleedabuyahia

Since we haven't heard back, we will close this issue.

Feel free to contact us once you can provide more information.

Best regards,

Jon

[2019-11-13 14:04] #63 closed, assigned to JonathanMagnan

[2019-11-14 18:39] hardikchheda13 opened #65 "Letter "E" is always treated as Natural Log even if it is passed to Eval() as variable."
Maybe this is because E is literal in C#. Need a way to distinguish when it can be treated as natural log and when it needs to be treated as Variable.

[2019-11-14 18:40] JonathanMagnan commented on #65
Hello @hardikchheda13

Would it be possible to provide a description of your issue

[2019-11-14 19:08] JonathanMagnan commented on #64
Hello @TehWardy ,

The v.3.0.5 has been finally released.

Could you confirm that everything is now working as expected with your expression?

[2019-11-14 19:12] JonathanMagnan commented on #65
Which version are you using?

I remember now the issue and it's supposed to be fixed a few months ago.

Best Regards,

Jon

[2019-11-14 19:15] hardikchheda13 commented on #65
The nuget packege I am using is 2.9.45. Thanks.

[2019-11-14 19:44] hardikchheda13 commented on #65
I update the package and it works fine, thank for your help.

[2019-11-14 19:44] #65 closed, assigned to JonathanMagnan

[2019-11-15 13:57] JonathanMagnan commented on #65
Awesome!

We are glad everything is working out for you!

Don't hesitate to contact us for questions or issues.

Best regards,

Jon

[2019-11-21 14:06] JonathanMagnan commented on #64
Hello @TehWardy,

Since our last conversation, we haven't heard from you.

Did you get the time to try the v.3.0.5?

Don't hesitate to contact us for questions, issues or feedback.

Looking forward to hearing from you,

Jon

[2019-11-25 13:14] TehWardy commented on #64
Thanks @JonathanMagnan, sorry I've been crazy busy.
I'll close this out for now and when I get on to this again, if it's still a problem I can always re-open / open a new ticket for that issue.

I have every confidence that it's solved though :)

Thanks again!

[2019-11-25 13:14] #64 closed, assigned to JonathanMagnan

[2020-01-06 07:25] chenmark1 opened #66 "Expression error using LINQ"
Hello!

Maybe you can help us with the below expression :
**state.town.buildings.Values.Any(b => b.isDamaged == true)**

Unhandled exception. System.TypeInitializationException: The type initializer for 'dd_segmentation_lib.Segmentation' threw an exception.
 ---> System.Exception: Oops! No applicable member has been found for the expression. The error occurred for expression "." at position 94 nea

[2020-01-06 13:45] JonathanMagnan commented on #66
Hello @chenmark1 ,

Could you give the full code including the query + expression + parameter?

At this moment, we are not sure if the issue is on your side (perhaps parameter are wrongly passed) or our side since we don't have the full information.

Best Regards,

Jon

[2020-01-07 09:20] chenmark1 commented on #66
[code]

[2020-01-07 14:55] JonathanMagnan commented on #66
Hello @chenmark1 ,

I don't think that will be enough.

We really need something we can run for this issue. That kind of issue as said is normally due to something missing or for example, `state` should be case sensitive `State`.

It's currently to hard to investigate it with the current information.

If you want to keep your code private, you can send it to us here: info@zzzprojects.com

[2020-01-07 21:13] se opened #67 "Eval.Execute Error - Oops! No applicable member has been found for the expression."
Hi,

First of all, thank you for this awesome project (like others you have made!).

We are having issues with nested dynamic objects with functions. I'm gonna leave the example here and also dotnet fiddle URL to test it fast.

Dotnet Fiddle;

https://dotnetfiddle.net/XXtvCq

Is this a bug or is there anything we can do to make it work?

Example Code;

[code]

[2020-01-07 21:25] JonathanMagnan commented on #67
Hello @se ,

Thank you for reporting,

That's an interesting one ;)

Best Regards,

Jon

[2020-01-09 08:20] se commented on #67
Is there anything we can do? 🤔

[2020-01-09 13:04] JonathanMagnan commented on #67
Not right now,

One of my employees is currently looking at it. So I should be able to give you an update very soon.

[2020-01-09 19:33] JonathanMagnan commented on #67
Hello @se ,

The v3.0.13 has been released.

Could you try it and confirm that everything is now working?

[2020-01-10 09:40] se commented on #67
It is working fine! Thank you so much!

[2020-01-10 09:40] #67 closed, assigned to JonathanMagnan

[2020-01-14 15:06] JonathanMagnan commented on #66
Hello @chenmark1,

Since our last conversation, we haven't heard from you.

As mentioned in my previous email, you can send us your code on our company's email info@zzzprojects.com.

Looking forward to hearing from you,

Jon

[2020-01-28 15:03] JonathanMagnan commented on #66
Hello @chenmark1

A quick reminder that we are here to assist you.

Feel free to send us your code on our mailbox info@zzzprojects.com

Best regards,

Jon

[2020-02-01 21:27] michaelsudnik opened #68 "ExpandoObject Expression / Brackets - NullReferenceException"
When I try to evaluate the following expression by calling Eval.Execute

`-(Param1 - Param2.Property1)`

Where Param1 is an Integer and Param2 is an ExpandoObject (Property1 is not defined), I get a NullReferenceException (I think it should report a RuntimeBinderException instead).

  	Z.Expressions.Eval.dll!Z.Expressions.CodeCompiler.CSharp.ExpressionScope.CreateBody(bool isMain, System.Type tRes

[2020-02-01 21:38] michaelsudnik commented on #68
https://dotnetfiddle.net/TxHMh5

[2020-02-02 15:15] JonathanMagnan commented on #68
Hello @michaelsudnik ,

Thank you for reporting, we will look at it and try to report the right error if that's possible.

Best Regards,

Jon

[2020-02-03 09:10] michaelsudnik commented on #68
Many thanks for looking into it. It would be excellent if you could find a solution to this.

[2020-02-03 20:06] JonathanMagnan commented on #68
Hello @michaelsudnik ,

Just to let you know that it will take a few days to fix it.

While doing this request, my developer found some cases that we should be able to support with the expando (such as in a dictionary).

He believes he will be able to complete his test on Friday, so we will probably be able to release the fix early next week.

[2020-02-07 11:23] michaelsudnik commented on #68
Hi @JonathanMagnan, this is actually a little bit more serious as it is not just a problem when the dynamic property is missing, but also throws the NullReferenceException when it is present as well. It seems to just be a problem with the minus sign in front of the bracket. How close to a fix are you?

[2020-02-07 15:32] JonathanMagnan commented on #68
Hello @michaelsudnik ,

A version has been released this morning.

I did some tests with your initial case, on my side, I no longer get the problem. If that's not the case for you, please provide us a full example since it might depend on how you pass the `Param1` and `Param2`.

My developer asked me to not close the issue and re-assign it to him. I believe he wants to fix more cases, I will discu

[2020-02-10 18:33] michaelsudnik commented on #68
Hi - thanks it does seem better.

Here is another failure scenario though: https://dotnetfiddle.net/15cAsM

(Property2 does not exist)

[2020-02-11 13:42] JonathanMagnan commented on #66
Hello @chenmark1

Since we haven't heard back, we will close this issue.

Feel free to contact us once you can provide more information.

Best regards,

Jon

[2020-02-11 13:42] #66 closed, assigned to JonathanMagnan

[2020-02-17 15:58] michaelsudnik commented on #68
Any update on this?

[2020-02-17 16:46] JonathanMagnan commented on #68
Hello @michaelsudnik ,

We are currently testing the fix, we believe it will be deployed today or tomorrow.

Our library now throw the right error:

[2020-02-18 00:56] JonathanMagnan commented on #68
Hello @michaelsudnik ,

A new version is now available.

The right error message should be now raised as the code now allow to negate value of type `object` (in your case the property that doesn't exist yet).

Let me know if that work as expected.

[2020-02-18 11:13] michaelsudnik commented on #68
That seems to be working as expected now. Thanks for your help!

[2020-02-18 13:25] JonathanMagnan commented on #68
Awesome @michaelsudnik

we are glad everything is working out for you!

feel free to contact us for questions, issues or feedback.

best regards,

Jon

[2020-02-28 10:56] vzsoft opened #69 "No applicable member has been found for the expression"
Hi,

I got Error in Eval.Execute

[https://dotnetfiddle.net/T1id3Q](https://dotnetfiddle.net/T1id3Q)

thank you so much

my class:
[code]

my code:
[code]

[2020-02-28 11:26] vzsoft commented on #69
https://dotnetfiddle.net/T1id3Q

[2020-02-28 14:34] JonathanMagnan commented on #69
Hello @vzsoft ,

The issue is caused by this part: `field = Name`

That's not valid, the name comes from nowhere.

That's probably not what you want but here is an example that works:

[code]

You probably want the name of the field in the group by, here is another example:

[code]

Let me know if that helps you to get your expressions solved.

Best Regards,

Jon

[2020-02-28 14:38] #69 closed, assigned to nobody

[2020-03-03 11:28] egkareem opened #70 "TimeSpan and date calculation (may be just a question)"
Hello
I am new and I am trying to work out this. I have this code (I am using .NET Fiddle):

I get, for the last line the following error message:
Run-time exception (line 29): Index (zero based) must be greater than or equal to zero and less than the size of the argument list.
Please help or suggest another way.

[2020-03-03 14:27] JonathanMagnan commented on #70
Hello @egkareem .

The first error happen here

[code]

You currently use '{3}' when there is no argument at this position.

You probably want to do this:

[code]

---

The second error will appears here:

[code]

The Execute method doesn't know about your local variable `date1` and `date2`, you need to provide it:

[code]

Let me know if that helped you to get your Fiddle working.

Best Regards,

[2020-03-03 14:51] egkareem commented on #70
Thank you very much for clearing this out. I am sure it will work, so we can consider this issue close. Special thanks for the quick  and detailed response 👍

[2020-03-03 14:51] #70 closed, assigned to JonathanMagnan

[2020-03-09 06:11] bqio opened #71 "Why a get error?"
![Screenshot_34](https://user-images.githubusercontent.com/45086516/76187290-63a3a080-61ee-11ea-9774-be05c374174d.png)

[2020-03-09 12:53] JonathanMagnan commented on #71
Hello @bqio ,

Thank you for reporting,

We will look at this.

Best Regards,

Jon

[2020-03-10 14:29] JonathanMagnan commented on #71
Hello @bqio ,

The v3.1.7 has been released.

This issue should now be fixed.

Could you try it and let us know if everything works?

[2020-03-13 13:08] Zeinabam commented on #71
hello @bqio,

Since our last conversation, we haven't heard from you.

Did you get the time to try the v3.1.7?

Don't hesitate to contact us for questions, issues or feedback.

Best regards,

Jon

[2020-03-13 13:13] JonathanMagnan commented on #71
Hello @bqio,

Since our last conversation, we haven't heard from you.

Did you get the chance to try the v3.1.7?

Don't hesitate to contact us for questions, issues or feedback.

Best regards,

Jon

[2020-03-20 12:41] JonathanMagnan commented on #71
Hello @bqio

A quick reminder that the v3.1.7 has been released.

feel free to contact for feedback regarding the latest version.

Best regards,

Jon

[2020-03-24 10:23] maxwave11 opened #72 "Error when parsing string interpolation expression with spaces"
Eval.Execute("$'{234234 }'") //space before closing curly brace

[2020-03-24 11:01] maxwave11 opened #73 "Formatting not works inside string interpolation expressions"
Eval.Execute("$'the date is { DateTime.Now:dd/MM/yyyy}.'")

[2020-03-24 13:31] JonathanMagnan commented on #72
Hello @maxwave11 ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2020-03-24 13:32] JonathanMagnan commented on #73
Hello @maxwave11 ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2020-03-27 12:51] #71 closed, assigned to JonathanMagnan

[2020-04-03 15:18] JonathanMagnan commented on #73
Hello @maxwave11 ,

A new version has been released.

This issue is now be fixed.

Let me know if everything works as expected.

[2020-04-03 15:18] JonathanMagnan commented on #72
Hello @maxwave11 ,

A new version has been released.

This issue is now be fixed.

Let me know if everything works as expected.

[2020-04-03 15:18] #68 closed, assigned to JonathanMagnan

[2020-04-10 14:11] #73 closed, assigned to JonathanMagnan

[2020-04-10 14:11] #72 closed, assigned to JonathanMagnan

[2020-05-25 08:33] vzsoft opened #74 "Null-conditional (?) operators not work"
Hi

i use Null-conditional (?) operators in
x=>x.Child?.Name
i got error

[https://dotnetfiddle.net/2Jih3l](https://dotnetfiddle.net/2Jih3l)

thank you

[2020-05-25 13:00] JonathanMagnan commented on #74
Hello @vzsoft ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2020-05-25 18:36] JonathanMagnan commented on #74
Hello @vzsoft ,

The v3.1.12 has been released.

Let me know if everything is now working correctly.

[2020-05-25 18:59] vzsoft commented on #74
thank you so much

[2020-05-25 18:59] #74 closed, assigned to JonathanMagnan

[2020-05-27 21:22] vzsoft opened #75 "Expression error using Empty Type"
Hi,

I got Error in Empty Type (**Test = new { }**)

my class:
[code]

my code:
[code]

Thank you

[2020-05-27 23:16] JonathanMagnan commented on #75
Hello @vzsoft ,

Thank you for reporting. I didn't know it was possible to create an anonymous without any property (never think about it!).

We will look at it.

Best Regards,

Jon

[2020-06-01 23:11] JonathanMagnan commented on #75
Hello @vzsoft ,

The v4.0.0 has been released.

We now support empty anonymous.

Please make sure to check your expression when you upgrade since the v4.0.0 got a big logic re-write: https://github.com/zzzprojects/Eval-Expression.NET/releases/tag/v4.0.0

[2020-06-02 07:25] vzsoft commented on #75
thank you so much

[2020-06-02 07:25] #75 closed, assigned to JonathanMagnan

[2020-06-09 12:39] JonathanMagnan commented on #75
Hello @vzsoft

Did you get the time to try the latest version?

Looking forward to hearing from you,

Jon

[2020-06-09 14:42] vzsoft commented on #75
Hello Jonathan

yes, i got version 4 and great work

[2020-06-09 14:43] JonathanMagnan commented on #75
Awesome!

don't hesitate to contact us for questions, issues or feedback.

Best regards,

Jon

[2020-06-28 06:07] cuiliang opened #76 "Can not call member of Excel interop object"
I am using Microsoft.Office.Interop.Excel to work with excel.
When I pass a Workbook object to the expression, there will be NullReference exception.

![image](https://user-images.githubusercontent.com/1972649/85939323-e475dc00-b946-11ea-8a58-c19253d071ec.png)

[2020-06-28 07:21] cuiliang opened #77 "compute int as double"
Is there any option that can make expression "5 / 3" result to 1.6666667?
I want to evaluate user-inputed expression to let them compute some numbers, they don't know what is integer what is double.

[2020-06-29 12:46] JonathanMagnan commented on #77
Hello @cuiliang ,

Sure, that's possible, you are currently looking for the `DefaultNumberType` option.

[code]
https://dotnetfiddle.net/JgQGqJ

Obviously, it could have a side impact as a method expecting an `int` is no longer compatible if there is no double overload.

Let me know if that answers your question correctly.

Best Regards,

Jon

[2020-06-29 12:49] cuiliang commented on #77
Yes, thank you. did not see this in document, perhaps it should be updated.
https://eval-expression.net/options

[2020-06-29 12:49] #77 closed, assigned to JonathanMagnan

[2020-06-29 12:53] JonathanMagnan commented on #76
Hello @cuiliang ,

Do you think you could provide us a runnable example with this error?

It will make easier for my developer to get started.

Looking at this online example, it should be something that we could be able to support: https://dotnetfiddle.net/NBPqHU

Best Regards,

Jon

[2020-06-29 13:04] cuiliang commented on #76
[TestExcelInterop.zip](https://github.com/zzzprojects/Eval-Expression.NET/files/4845645/TestExcelInterop.zip)

Please try this project.  You must have Microsoft excel running before run this sample.

thankyou.

[2020-06-30 20:10] JonathanMagnan commented on #76
Hello @cuiliang ,

Thank you for the project.

The v4.0.2 has been released.

Could you try it and let us know if we now support `Marshal` object like the one you are using correctly?

Best Regards,

Jon

[2020-06-30 23:07] cuiliang commented on #76
@JonathanMagnan It's working now. Thank you! Great job!

[2020-06-30 23:07] #76 closed, assigned to JonathanMagnan

[2020-07-03 11:35] michaelsudnik opened #78 "NullReferenceException not very descriptive when parameter is not provided"
Hi,

When running the following code, a NullReferenceException exception is thrown which is not very descriptive.

[code]

https://dotnetfiddle.net/UcGMqF

Could it throw a more useful error message?

Or is there a way to validate which parameters an expression is expecting?

Thanks,

Mike

[2020-07-03 12:29] JonathanMagnan commented on #78
Thank you for reporting,

We will look if something can be done about the error message.

Best Regards,

Jon

[2020-07-05 23:17] JonathanMagnan commented on #78
Hello @michaelsudnik ,

The v4.0.3 has been released which improves the error message.

There is some way to know when a value is missed such as the `VariableFactory`:

[code]

Another way is by using ExpandoObject and letting you know which variable is missing:

[code]

Let me know if that answer your question.

[2020-07-06 15:16] se opened #79 "Difference between 4.0.2 to 4.0.3"
Hi, I have not much information but between 2 versions there is a huge performance difference.

Do you guys know what could happen?

[2020-07-06 15:43] JonathanMagnan commented on #79
Hello @se,

The v4.0.3 bring only a very tiny change:

[code]

That's all! So the new version should not cause any performance difference noticeable.

Besides the first use (JIT Compilation), everything looks to run very fast.

Do you have an example that we could try?

Best Regards,

Jon

[2020-07-06 16:09] se commented on #79
My bad, upgraded from 3.0.14 to 4.0.3.

[2020-07-06 19:28] JonathanMagnan commented on #79
Probably coming with the v4.0.0 that solve now in iterations some method previously solved in recursivity.

Do you still have an example that we could try and compare?

[2020-07-07 13:07] cuiliang opened #80 "Error when call .Count() with Dictionary<string, object>"
Code sample:
https://dotnetfiddle.net/N2GCak

[code]

Output:
[code]

[2020-07-07 13:53] cuiliang opened #81 "Problem with \\r\\n , string seems to be unescaped twice."
I want to generate such result: "Hello \r\n!"  (not new line, just origin characters),  but can not success.
See code example:https://dotnetfiddle.net/2pfmXx

[code]

[2020-07-07 14:14] JonathanMagnan commented on #81
Hello @cuiliang ,

The easiest way is to use the variable as a variable:

[code]

Which works fine.

But it looks you are right, we might have a bug with escaping some character. We will look at it.

Best Regards,

Jon

[2020-07-07 14:15] JonathanMagnan commented on #80
Hello @cuiliang ,

Thank you for reporting, we will look at it and fix it.

Best Regards,

Jon

[2020-07-07 14:25] cuiliang commented on #81
Eval.Execute("str", new {str})
the expression evaluated is "str", not  this expression ("Hello"+"\\r\\n")
That's different.

[2020-07-07 14:35] JonathanMagnan commented on #81
See the following Fiddle: https://dotnetfiddle.net/SPVHmk

It evaluates the expression

[2020-07-08 00:11] cuiliang commented on #81
Try this=> https://dotnetfiddle.net/IHSosZ
[code]
The expression to evaluate is : `"Hello" + "\\r\\n"`

[2020-07-08 13:44] se commented on #79
I think we can close this issue. There was a misunderstanding about the process. Sorry to bother.

[2020-07-08 13:44] #79 closed, assigned to JonathanMagnan

[2020-07-09 11:21] michaelsudnik commented on #78
Hi,

I appreciate the update - although the new message text is a little informal. There is also an additional "." after "expected".

[code]

Would it be possible to throw a custom exception, with relevant parameters ("position", "near") set, so that I can better handle the error and inform the user better (e.g. with a translated message)? Otherwise, my only option would be to parse the message to

[2020-07-09 13:47] JonathanMagnan commented on #78
Sure, we will look at it.

[2020-07-12 21:57] JonathanMagnan commented on #81
Hello @cuiliang ,

The v4.0.4 has been released.

I have updated the Fiddle: https://dotnetfiddle.net/SPVHmk

Let me know if everything now works as expected.

Best Regards,

Jon

[2020-07-13 05:00] cuiliang commented on #81
@JonathanMagnan Working now, thanks.

[2020-07-13 05:00] #81 closed, assigned to JonathanMagnan

[2020-07-13 05:35] cuiliang commented on #80
version 4.0.4 does not solve this problem.

[2020-07-13 12:18] cuiliang opened #82 "pipe operator in string interpolation"
Hi,
Is there any chance to implement "pipe operator"  like angular or other templating language?
like this:
[code]
which means call 'upcase' function on title, then interpolation.
I konw it's nothing about c# , but It will be very useful in a expression.

[2020-07-13 13:21] JonathanMagnan commented on #82
Hello @cuiliang ,

Thank you for reporting.

I will ask my developer to look at this to see what's possible to do and what's the best for the future.

Best Regards,

Jon

[2020-07-13 13:25] JonathanMagnan commented on #80
You are right,

The fix for your issue is still under pending review as some core code has been modified and we didn't find the time to complete the code review for the v4.0.4

It should be done early this week.

[2020-07-13 15:24] JonathanMagnan commented on #78
Hello @michaelsudnik ,

Just to confirm that we are currently creating an `EvalException` that will provide all necessary information.

It should be released this week.

[2020-07-13 19:30] JonathanMagnan commented on #82
Hello @cuiliang ,

We talked about it internally and for now, we will try to avoid doing it as time doesn't permit and this request might require too much effort.

However, it's already possible to call some external method in interpolation, I'm not sure if that could work for you: https://dotnetfiddle.net/kqMZAl

Let me know if that alternative solution could work for you.

Best Regards,

Jon

[2020-07-13 22:32] JonathanMagnan commented on #80
Hello @cuiliang ,

The v4.0.5 has been released.

The fix for your issue has been merged for this version.

Could you try it and let us know if everything is working.

Best Regards,

Jon

[2020-07-13 23:29] cuiliang commented on #82
got it, thank you!

[2020-07-13 23:29] #82 closed, assigned to JonathanMagnan

[2020-07-14 01:23] cuiliang commented on #80
Yes! thankyou.

[2020-07-14 01:23] #80 closed, assigned to JonathanMagnan

[2020-07-19 15:06] JonathanMagnan commented on #78
Hello @michaelsudnik ,

The v4.0.8 has been released.

Most exception now throw an `EvalException`

[code]

Let me know if that's what you were looking for.

Best Regards,

Jon

[2020-07-31 06:29] jwr456 opened #83 "Operator '^' cannot be applied to operands of type 'double' and 'double'"
I am using the following:

            var context = new EvalContext() { UseCache = false };
            context.UseCaretForExponent = true;

and getting the following exception

Operator '^' cannot be applied to operands of type 'double' and 'double'

when I try to Eval this

Eval.Execute<double>("someOtherDouble*(1.5^2.0)", this);

and this Operator '^' cannot be applied to operands of type 'dou

[2020-07-31 06:40] jwr456 commented on #83
Never mind, I figured this out:

Eval.Execute("someOtherDouble*Math.Pow(1.5,2)", this);

works

[2020-07-31 12:25] JonathanMagnan commented on #83
Hello @jwr456 ,

I will re-open it as I believe we have an issue here and your initial code should have worked.

Best Regards,

Jon

[2020-07-31 12:28] JonathanMagnan commented on #83
In fact, that's currently working.

The issue is that you create an instance context and specify options to it but you don't use it. You use instead the global context which doesn't have the option and which the `^` operator behaves like the one in C#

## Instance Context

[code]

## Global Context

[code]

[2020-07-31 12:28] #83 closed, assigned to nobody

[2020-09-24 07:27] Josrph opened #84 "Exception when calling ToString on enum property?"
[code]

System.NotSupportedException: 'LINQ to Entities does not recognize the method 'System.String ToString()' method, and this method cannot be translated into a store expression.'

[2020-09-24 14:31] JonathanMagnan commented on #84
Hello @Josrph ,

Does it work without our library?

[code]

It looks more lime a limitation with the ORM than our library.

Otherwise, can you provide us a runnable project with the issue so we could investigate it? Or please provide us all the required information do reproduce it such as the ORM used and version.

We tried with EF Core 3.x and it worked fine with our library.

Best Regards,

Jon

[2020-09-24 15:58] JonathanMagnan commented on #84
Hello @Josrph,

Since our last conversation, we haven't heard from you.

Is your issue fixed? Do you need help?

Don't hesitate to contact us for further assistance

Best regards,

Jon

[2020-09-24 17:19] Josrph commented on #84
[code]

PS: am using .Net 4.7.2 with EF 6.4.4
Z.EntityFramework.Extensions 4.0.91
Z.EntityFramework.Plus.EF6 1.12.32
Z.Expressions.Eval 4.0.15

[2020-09-24 19:29] JonathanMagnan commented on #84
Thank you @Josrph ,

We successfully reproduced the issue.

We will look at it.

[2020-09-30 12:55] michaelsudnik commented on #78
Hi Jon,

Sorry for not replying earlier about this sooner and we appreciate the work done so far!

We could really do with a "Reason" property displaying the reason for the error so that we can then format it appropriately. For example, it could simply be "A null expression has been found."

Even better would be if you could report an Error Code (or enum) which corresponds to the Reason or type of

[2020-09-30 13:25] JonathanMagnan commented on #78
Hello @michaelsudnik ,

We will some code a little bit everywhere to make sure the expression is not null (or throw a specific error in this case).

We will also check how we can improve those error messages.

Best Regards,

Jon

[2020-09-30 20:28] JonathanMagnan commented on #84
Hello @Josrph ,

The v4.0.19 has been released.

Could you confirm that the issue has been successfully fixed?

[2020-10-01 06:43] Josrph commented on #84
Perfect... as of v4.0.19 the issue has been successfully fixed!

[2020-10-01 13:58] JonathanMagnan commented on #84
Great Josrph!

Don't hesitate to contact us for further assistance.

Best regards,

Jon

[2020-10-01 13:58] #84 closed, assigned to JonathanMagnan

[2020-10-05 23:28] JonathanMagnan commented on #78
Hello @michaelsudnik ,

The v4.0.20 has been released.

We have improved the error handling at several places. My developer will continue to look at it to improve some other part of the code to better handle this exception.

Best Regards,

Jon

[2020-10-06 09:17] marcOcram opened #85 "Issues with Array Initialization"
Hello,

if an integer array is initialized with an equation it is not parsed as expected.

[code]

Additionally the following results in an InvalidCastException. This happens only using array initialization.
[code]

These issues do not appear while using `List<int>`.

A reproduction is available as [fiddle](https://dotnetfiddle.net/zzrGjY).

[2020-10-06 13:13] JonathanMagnan commented on #85
Hello @marcOcram ,

Thank you for reporting,

We will look if we can improve this part.

Best Regards,

Jon

[2020-10-07 13:07] JonathanMagnan commented on #85
Hello @marcOcram ,

The v4.0.21 has been released.

Both issues should now be fixed and working correctly.

Let me know if everything works as expected on your side.

Best Regards,

Jon

[2020-10-07 15:30] marcOcram commented on #85
Hello @JonathanMagnan

it works like a charm. Thanks for the really quick fix.

[2020-10-07 15:31] JonathanMagnan commented on #85
Awesome!

We are glad everything is working out for you!

Don't hesitate to contact us for questions, issues or feedback!

Best regards,

Jon

[2020-10-09 12:46] #85 closed, assigned to JonathanMagnan

[2020-11-04 17:11] marcOcram opened #86 "DynamicObject w/ index access throws InvalidOperationException"
Hello,

if I try to access a property by index of a class derived from DynamicObject, I get an error that the sequence contains no elements.

[code]

Stacktrace
[code]

The code above is available as [fiddle](https://dotnetfiddle.net/B3NWzT)

[2020-11-04 18:17] JonathanMagnan commented on #86
Hello @marcOcram

Thank you for reporting, my developer will look at it.

Best Regards,

Jon

[2020-11-11 14:16] JonathanMagnan commented on #78
Hello @michaelsudnik ,

We added more null exception handling in the v4.0.24,

For now, we will close it as I believe we added enough check until some people report us this error again.

Best Regards,

Jon

[2020-11-11 14:16] #78 closed, assigned to JonathanMagnan

[2020-11-11 14:18] JonathanMagnan commented on #86
Hello @marcOcram ,

The v4.0.24 has been released.

Could you try it and let us know if everything is now fixed with your scenario?

Best Regards,

Jon

[2020-11-11 17:02] marcOcram commented on #86
Hello @JonathanMagnan ,

that works. Thank you.

[2020-11-11 17:51] JonathanMagnan commented on #86
Awesome @marcOcram !

Don't hesitate to contact us with any questions, issues or feedback.

Best regards,

Jon

[2020-11-11 17:51] #86 closed, assigned to JonathanMagnan

[2020-11-29 08:51] cesaryuan opened #87 "something wrong with the dynamic"
[code]
Execute above sentences in the VS. It throw the error like this. But it should work.

[2020-11-30 02:01] JonathanMagnan commented on #87
Hello @cesaryuan ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2020-12-01 04:45] JonathanMagnan commented on #87
Hello @cesaryuan ,

The v4.0.26 has been released.

Let me know if your issue has been correctly solved.

Best Regards,

Jon

[2020-12-01 08:12] cesaryuan opened #88 "Wrong generic when using the Expression lambda and Statement lambda in Linq"
[code]

When I execute the above sentences, its result is not as expected which should both be the "System.Collections.Generic.List`1[**System.String**]".

The main differences between test1 and test2 is the lambdas used in "Select" that one is Expression lambda but the other is Statement lambda.

Version: 4.0.26

[2020-12-01 08:37] cesaryuan commented on #87
Thank you! It works for me.

[2020-12-01 10:53] #87 closed, assigned to JonathanMagnan

[2020-12-01 11:05] cesaryuan opened #89 "something wrong with the try...catch..."
[code]

It throw the error like this:
[code]
[code]

[2020-12-01 16:19] JonathanMagnan commented on #88
Hello @cesaryuan ,

Thank you for reporting.

I also agree that both should return a `List<string>`.

We will look at it.

Best Regards,

Jon

[2020-12-01 16:26] JonathanMagnan commented on #89
Thank you for reporting @cesaryuan ,

We will look at how we can fix this issue

Best Regards,

Jon

[2020-12-09 02:46] JonathanMagnan commented on #89
Hello @cesaryuan,

The v4.0.27 has been released.

Could you try the latest version and let me know if my developer correctly fixed your issue?

Best Regards,

Jon

[2020-12-09 02:46] JonathanMagnan commented on #88
Hello @cesaryuan,

The v4.0.27 has been released.

Could you try the latest version and let me know if my developer correctly fixed your issue?

Best Regards,

Jon

[2020-12-09 06:25] cesaryuan commented on #89
@JonathanMagnan Thanks, it works for me. 👍

[2020-12-09 06:25] #89 closed, assigned to JonathanMagnan

[2020-12-09 06:26] cesaryuan commented on #88
@JonathanMagnan Thanks, it works for me. 👍

[2020-12-09 06:26] #88 closed, assigned to JonathanMagnan

[2021-01-06 17:38] se opened #90 "Ambiguous match found for: 'TryParse' for int, bool, DateTime"
Following code samples giving almost same error. Is there any way to fix this?

Code - 1:
[code]

Error - 1:
[code]

Code - 2:
[code]

Error - 2:
[code]

Code - 3:
[code]

Error - 3:
[code]

[2021-01-06 20:11] JonathanMagnan commented on #90
Hello @se ,

Thank you for reporting,

It seems to look under .NET Framework but we have an issue on .NET Core.

We will look at what is missing.

Best Regards,

Jon

[2021-01-10 06:25] cesaryuan opened #91 "Cannot define a Func like this?"
Cannot define a Func like this, but it works in vs.
[code]

It throws the error like below:

[code]
[code]

[2021-01-11 06:45] cesaryuan opened #92 "Is it possible to support using an anonymous method to declare and initialize a delegate?"
Is it possible to support using an anonymous method or a lambda expression to declare and initialize a delegate?
I test the follow example, but it throw error.
[code]

The detail errors like this,

[code]

[2021-01-11 14:23] se commented on #90
Any luck on this?

[2021-01-11 15:30] JonathanMagnan commented on #91
Hello @cesaryuan ,

Thank you for reporting, my developer will look at what is missing to make it compatible.

Best Regards,

Jon

[2021-01-11 15:39] JonathanMagnan commented on #92
Hello @cesaryuan ,

Thank you for reporting, we will look at this to see if that's something we could support or not.

Best Regards,

Jon

[2021-01-11 15:45] JonathanMagnan commented on #90
Hello @se ,

Yes, my developer fixed it and we will complete the review tomorrow.

So if everything is fine, we will make a new release on Tuesday or Wednesday

[2021-01-14 02:07] JonathanMagnan commented on #90
Hello @se ,

The v4.0.29 has been released.

Could you try it and let us know if that has been fixed correctly?

Best Regards,

Jon

[2021-01-14 02:07] JonathanMagnan commented on #91
Hello @cesaryuan ,

The v4.0.29 has been released.

Could you try it and let us know if that has been fixed correctly?

Best Regards,

Jon

[2021-01-14 02:08] JonathanMagnan commented on #92
Hello @se ,

The v4.0.29 has been released.

Could you try it and let us know if we successfully added the code to handle delegate correctly?

Best Regards,

Jon

[2021-01-14 03:00] cesaryuan commented on #92
Works for me! But it seems that still not support using delegate keyword to initialize an delegate (you said in the readme that you support all keyword). Anyway, lambda expression is enough. Thank you! @JonathanMagnan

[2021-01-14 03:04] cesaryuan commented on #91
Thank you! Works for me.

[2021-01-14 07:08] #91 closed, assigned to JonathanMagnan

[2021-01-14 15:37] JonathanMagnan commented on #92
Thank,

We will look at it if we can do it.

[2021-01-16 02:32] cesaryuan opened #93 "Ambiguous match?"
[code]
Hi, the above sentence throws error like below. But it works in VS. Could you check it? Thank you!
[code]

[2021-01-18 14:25] JonathanMagnan commented on #93
Hello @cesaryuan ,

Thank you, we will look at it.

This is probably causing because we also support single quote to be a string like this `abc` and not only a character.

We will look at how we could improve the logic.

Best Regards,

Jon

[2021-01-20 08:05] se commented on #90
It seems fixed. Thank you so much!

[2021-01-20 13:13] JonathanMagnan commented on #90
Awesome @se !

we are glad to hear that it has been fixed!

Don't hesitate to contact us with any questions, or further assistance,

Jon

[2021-01-22 07:55] cuiliang opened #94 "MemoryLeak: if add EvalContext as GlobalVariable"
Code:
[code]
Compare between after first and thrid button click.
![image](https://user-images.githubusercontent.com/1972649/105462800-217e3300-5cca-11eb-84b5-365a0a5a2052.png)

[2021-01-22 07:58] cuiliang commented on #94
Sample project
[MemoryTest.zip](https://github.com/zzzprojects/Eval-Expression.NET/files/5854312/MemoryTest.zip)

[2021-01-22 13:51] JonathanMagnan commented on #94
Hello @cuiliang ,

Thank for reporting.

We will look at it to see if we missed something in the `dispose` part.

If you don't want the current behavior, you can disable the cache:

[code]

Best Regards,

Jon

[2021-01-22 14:01] cuiliang commented on #94
@JonathanMagnan Thank you! `UseCache = false;`  works.

[2021-01-25 05:52] JonathanMagnan commented on #94
Hello @cuiliang ,

After review, we find out that the cache is global by default. Which explain why object are not disposed.

However, you can use a local cache with the `UseLocalCache` option:

[code]

When disposing, everything will be correctly disposed since the cache is local and not global.

It has been a long time, so I'm not exactly sure why we made the cache global by default, it might ju

[2021-01-25 05:54] cuiliang commented on #94
Thank you~

[2021-01-25 05:54] #94 closed, assigned to JonathanMagnan

[2021-01-25 05:55] cuiliang commented on #94
What's the cache used for? There seems no document about it.

[2021-01-25 17:53] JonathanMagnan commented on #94
The cache is used to faster execute a compiled expression.

So for example, if you can from time to time a method that execute always the same expression but with different parameter, this expression will be compiled only once. All subsequent execution will take the compiled code from the cache.

So for performance reason.

[2021-02-02 05:53] JonathanMagnan commented on #92
Hello @cesaryuan ,

It took us a while but the v4.0.30 has been finally released.

We now support several case with delegate such as:

[code]

If you still have some issue with your delegate, please provide us a full example about what you will want to do and we will look at it.

Best Regards,

Jon

[2021-02-04 02:39] cesaryuan commented on #92
@JonathanMagnan Thanks for your effort! This is genuinely nice, and there is no issue for me.

[2021-02-04 02:39] #92 closed, assigned to JonathanMagnan

[2021-02-04 08:51] cesaryuan opened #95 "Not Case Sensitive?"
It seems that the EvalContext is not case sensitive. I test the code below, and it throw errors.
[code]
Errors
[code]

[2021-02-04 14:47] JonathanMagnan commented on #95
Hello @cesaryuan ,

You are right, by default our library is case insensitive.

You can change this behavior using the following options:

[code]

I must admit this is not obvious for people who don't have the source code to disable this case sensitivity, so I will ask my developer to add a new option named `IsCaseSensitive` to make it more obvious.

Best Regards,

Jon

[2021-02-10 05:29] JonathanMagnan commented on #93
Hello @cesaryuan ,

The v4.0.31 is finally released.

We improved our code to better handle Ambiguous matches for multiple scenarios such as this one.

Let me know if everything is now working correctly with this scenario.

Best Regards,

Jon

[2021-02-10 05:35] JonathanMagnan commented on #95
Hello @cesaryuan ,

The v4.0.31 has been released.

We added a new option named `IsCaseSensitive` which will automatically adjust the `BindingFlags`.

For backward compatibility reason, we must keep the `IsCaseSensitive = false` by default. But you can now easily modify it.

Let me know if it works as expected.

Best Regards,

Jon

[2021-02-10 05:38] cesaryuan commented on #93
@JonathanMagnan
Thank you so much!
But I update to the v4.0.31 and it still throw the same errors.

[code]

[code]
![image](https://user-images.githubusercontent.com/35998162/107469749-46691600-6ba5-11eb-8072-531b8fb5a813.png)

[2021-02-10 05:40] cesaryuan commented on #95
@JonathanMagnan
Thanks! This is already very convenient.

[2021-02-10 13:28] JonathanMagnan commented on #93
No problem, we will look at it again.

[2021-02-17 04:46] JonathanMagnan commented on #93
Hello @cesaryuan ,

The v4.0.32 has been released.

Could you try this one and let us know if everything is working correctly this time?

Best Regards,

Jon

[2021-02-18 07:02] cesaryuan commented on #93
@JonathanMagnan
It seems fixed. Thank you!

[2021-02-18 07:02] #93 closed, assigned to JonathanMagnan

[2021-02-21 17:00] maxwave11 commented on #73
It works, thank you!

[2021-02-25 16:56] papyr opened #96 "Calculator basic math"
I am trying to do something for a kids website, the students want to build formulas from the UI in the web page and then save those. So, that they can apply those on a set of excel or csv sheets.

Feature request, if you have a calculator for this it would gain a lot of traction

[2021-02-26 04:18] JonathanMagnan commented on #96
Hello @papyr ,

What exactly you would like our library does? I'm not 100% sure to understand your requirement. Our library allows to run code at runtime, so there is some part that makes sense with what you would want to achieve but I'm not sure what you would want us to add, since the calculator part look more like to be on your side.

Best Regards,

Jon

[2021-03-04 13:45] #96 closed, assigned to JonathanMagnan

[2021-03-06 11:50] cesaryuan opened #97 "Seems doesn't support User-defined Implicit type conversion operators?"
The following statement will report an error.
[code]
The error is as follows
[code]

`JArray.Contains(JToken T)` only accepts` JToken`, so EvalContext considers No applicable member
But we know that `Newtonsoft.Json.Linq` defines [implicit type conversion from String to JToken](https://www.newtonsoft.com/json/help/html/M_Newtonsoft_Json_Linq_JToken_op_Implicit_29.htm), and this statement works pro

[2021-03-08 04:10] JonathanMagnan commented on #97
Hello @cesaryuan ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2021-03-12 15:35] cesaryuan opened #98 "Is it possible to support nameof operator?"
Is it possible to support [nameof](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/nameof) operator to get the variable name?
[code]

[2021-03-12 17:39] JonathanMagnan commented on #98
Hello @cesaryuan ,

We will look at it.

Best Regards,

Jon

[2021-03-16 23:25] JonathanMagnan commented on #98
Hello @cesaryuan ,

The v4.0.36 has been released.

Could you try it and let us know if everything is working as expected for the `nameof` operator?

Best Regards,

Jon

[2021-03-22 19:25] stonstad commented on #95
I have case sensitivity set to false but I get errors when I refer to properties with different case, i.e. Foo.Bar and Foo.bar.

''System.Dynamic.ExpandoObject' does not contain a definition for 'bar''.

Is there a separate setting or way to work through this to achieve case insensitivity?

[2021-03-22 19:27] stonstad commented on #95
To clarify, I am passing in a object parameters to Eval(), and it is properties of these parameters that I am hoping to match without case sensitivity.

[2021-03-23 01:06] JonathanMagnan commented on #95
Hello @stonstad ,

Could you confirm that you are doing something similar to this:

[code]

I will ask my developer to look at this. I believe the "IsCaseSensitive" should also apply here. However, I'm not sure if that's possible, the problem is that we need to compile it and the ExpandoObject have no existing properties on the compilation. From an expando to another, it could be lowercase or uppe

[2021-03-23 14:27] stonstad commented on #95
Hey @JonathanMagnan.  Your scenario above works.   In my case, my x and y variables also have nested parameters. So if the variable and property is X.FOO...  x.FOO and X.FOO works, but x.foo does not.

[2021-03-24 13:00] JonathanMagnan commented on #98
Hello @cesaryuan ,

Since our last conversation, we haven't heard from you!

Did you get the chance to try the v4.0.36?

Don't hesitate to contact us for further assistance,

Jon

[2021-03-24 15:30] JonathanMagnan commented on #95
Hello @stonstad ,

We investigate it but unfortunately, we will postpone it due to the difficulty of doing it on our side (A lot of change is required if we want to do it correctly).

This is indeed something that we will want to implement but we currently missing a lot of time which makes it impossible to make this request.

We will surely look at it again in around 2-3 months but for now, that w

[2021-03-24 15:45] stonstad commented on #95
OK, thank you for your response, Jon.  This is a very important feature for us.  My client is a paid user.  We look forward to learning of its availability.

[2021-03-24 15:53] JonathanMagnan commented on #97
Hello @cesaryuan ,

Just to let you know that there is currently no short-term plan to make it works.

We will look again in around 2-3 months to add better support to implicit type, but at this moment, this will be a limitation of our library.

[2021-03-25 06:10] cesaryuan commented on #98
I'm sorry to reply to you so late. I've tried and it performs well. Thank you.

[2021-03-25 06:10] #98 closed, assigned to JonathanMagnan

[2021-04-01 15:41] stonstad commented on #95
From the documentation here (https://eval-expression.net/options) it looks like this should work?

[code]

[2021-04-01 15:48] stonstad opened #99 "Eval Dynamic Behavior"
Given an expression like
     Eval("Foo.Bar" Foo)...

If the type is dynamic and Bar is not present this results in a null reference exception (if object) or RuntimeBinderException if dynamic.  Is there a configuration setting or way to have this evaluate to null instead of throw an exception?

[2021-04-01 16:08] JonathanMagnan commented on #95
`BindingFlags` are from properties and fields from typed type.

ExpandoObject the way you want to use it is a whole different thing.

[2021-04-01 16:18] stonstad commented on #95
Thanks, @JonathanMagnan.  I'm wondering if there might be a way to convert an ExpandoObject into a true dynamic type to enable this feature. I think I could serialize the object graph, and then deserialize it back to dynamic, but that is computationally expensive...

[2021-04-01 16:34] JonathanMagnan commented on #99
Hello @stonstad ,

That's something that could probably be possible.

I believe the hardest part of this request is finding a name for this option as the default behavior is to throw an error.

Any idea?

- DynamicInvalidDefinitionDefaultValue
- DynamicDefaultValueIfNotExists
- DynamicIfNotExistsDefaultValue

I currently find all our ideas a little bit weird.

Best Regards,

Jon

[2021-04-01 17:06] stonstad commented on #99
ThrowExceptionIfNullEvaluation (defaults true)
ThrowExceptionIfMemberMissing (defaults true)

I appreciate your consideration.  The work-around is somewhat difficult because it appears that a parser is needed and expressions can vary greatly.

[2021-04-01 17:09] stonstad commented on #95
OK, just another thought here.  What if there was an EvalDictionary<string, object> which stores keys as lower case?  An overload to Eval could accept this EvalDictionary in place of an Expando IDictionary.

[2021-04-02 01:37] JonathanMagnan commented on #99
Hello @stonstad ,

When adding to try a new option, we always make it "false" as default. That's a convention we implemented here (so we don't need anymore to ask ourselves if it should false or true by default) so your name cannot work. Also, we probably need to add "Dynamic" or "ExpandoObject" somewhere in the name as we don't want to disable it everywhere. But your suggestion gives us some idea

[2021-04-04 12:26] cesaryuan opened #100 "No applicable member has been found for ".GetType()""
I think all class instances have a `GetType()` method, but `EvalContext` tells me that this is not the case. The code is as follows：
[code]
It throws this error,
[code]
However, in fact it shouldn’t throw an error, it should be working properly.

[2021-04-05 14:07] JonathanMagnan commented on #100
Hello @cesaryuan ,

Thank you for reporting, we will look at it.

A fix has been done and will be deployed tomorrow if the code is accepted.

Best Regards,

Jon

[2021-04-05 22:32] stonstad commented on #99
I'm testing this solution and it has potential.  One thing I'm hitting is that it does not work well with the System.Text.Json serializer because of https://github.com/dotnet/runtime/issues/31175.  Serialized output appears as dictionary key/value pairs.

[2021-04-06 15:03] JonathanMagnan commented on #99
Hello @stonstad ,

I'm less familiar with the `System.Text.Json`, I looked at their issue but yes, this solution will not fully work with their limitation.

Did you try `Newtonsoft` to check if you get the same limitation?

[2021-04-06 15:31] stonstad commented on #99
It's almost working -- the challenges I am seeing are around differences in serialization output for System.Text.Json and Newtsonoft.Json when compared to a true dynamic object.  It would be great to see case insensitivity work as described above --  but it does seem like the alternative solution is close to working.

[2021-04-07 15:02] JonathanMagnan commented on #100
Hello @cesaryuan ,

The v4.0.38 has been released.

Let me know if everything works as expected.

[2021-04-07 19:27] stonstad commented on #99
Is there a possibility for DynamicDefaultValueIfNotExists to happen?  The proposed solutions change serialized output, which is undesirable.  If there was a way for Eval-Expression to return a default value or not throw an exception, this would be very useful.

[2021-04-08 03:45] cesaryuan commented on #100
Tested it. Works great!

[2021-04-08 03:45] #100 closed, assigned to JonathanMagnan

[2021-04-08 12:50] JonathanMagnan commented on #99
We will look at it probably during the weekend.

I will give you an update at the beginning of next week

[2021-04-09 18:17] stonstad opened #101 "RegEx Support"
Is there support for RegEx?  If so, how does one go about using/integrating it?

[2021-04-10 17:12] JonathanMagnan commented on #101
Hello @stonstad ,

What do you mean by `RegEx` support? It should always be supported.

Example:

[code]

Let me know if you still have an issue to use it or if everything is fine.

Best Regards,

Jon

[2021-04-13 13:03] JonathanMagnan commented on #99
Hello @stonstad ,

A branch is currently under validation, we are still uncomfortable with this change but so far, it will look like this:

[code]

So you will be able to specify a default value depending on the object type and propertyOrFieldName missing. In this case, no matter what, we return null when the member is not found instead of an error.

We preferred a `Factory` solutions since some o

[2021-04-13 14:01] stonstad commented on #99
Hi @JonathanMagnan  This will be of significant value to us, and help solve the problem we are encountering.  Thank you!

[2021-04-14 13:19] JonathanMagnan commented on #101
Hello @stonstad ,

Since our last conversation, we haven't heard from you!

Did you get the chance to look at the example?

Don't hesitate to contact us with any questions or further assistance,

Jon

[2021-04-14 13:22] stonstad commented on #101
Yes, it works great.  Thank you!

[2021-04-14 13:22] #101 closed, assigned to JonathanMagnan

[2021-04-17 11:33] noezad opened #102 "Seems doesn't support EF.Functions??"
The following statement will report an error.

 var allEvent = await (from n in _context.Events
                                  .WhereDynamic(c => "EF.Functions.Contains(c.UseInSearch, search) && c.IsDelete == false") ...

The error is as follows

EvalException: Oops! No applicable member has been found for the expression.
Tnx

[2021-04-19 02:31] JonathanMagnan commented on #102
Hello @noezad ,

Could you provide your EF version including the EF provider package you are using,

My developer did a test and it's worked on his side, so perhaps that's a package we didn't include yet.

Best Regards,

Jon

[2021-04-19 21:37] stonstad commented on #99
Hi @JonathanMagnan .  Any updates around this?

[2021-04-19 22:46] JonathanMagnan commented on #99
Hello @stonstad ,

The v4.0.39 has been released.

It's now possible to set the default value this way:

[code]

We also profited of this chance to improve the case insensitive in this part of the code when you enter in the `DynamicGetMember` method.

Let me know if everything works as expected.

Best Regards,

Jon

[2021-04-20 14:32] stonstad commented on #99
WOW!  Thank you so much.  This is awesome and it works perfectly.  Thank you!

[2021-04-20 14:32] stonstad commented on #95
Thank you for resolving per #99!

[2021-04-21 04:51] JonathanMagnan commented on #95
Awesome ;) We will close it in this case.

[2021-04-21 04:51] #95 closed, assigned to JonathanMagnan

[2021-04-21 12:42] JonathanMagnan commented on #102
Hello @noezad ,

Since our last conversation, we haven't heard from you!

Don't hesitate to provide your EF version and the EF provider package you are using, so we can assist you better!

Looking forward to hearing from you,

Jon

[2021-04-21 18:46] noezad commented on #102
Hi Jon,tnx for your massage
I am using Ef 3.1 and Sql Server
Have a good time

[2021-04-22 01:40] JonathanMagnan commented on #102
Hello @noezad ,

This version seems to work.

What exactly is the `search` in your expression? It doesn't look to be provided in the parameter. So perhaps the issue is something else and that would explain why that's working for us.

[2021-04-22 01:41] JonathanMagnan commented on #102
If you still have the problem, it is possible for you to provide a runnable project with the minimum code to reproduce the problem?

It will greatly help us to fix it instead of trying to reproduce it.

Best Regards,

Jon

[2021-04-22 09:16] noezad commented on #102
Hello Sir ,
Yes, this problem is not solved yet, I will try to share with you a small project that has this problem in the next 2 days.

Tnx

Noezad

[2021-04-22 18:03] mthrift2100 opened #103 "InvalidProgramException .NET 5?"
I'm attempting to implement Z.Expressions within a .NET 5 project.  I believe .NET 5 projects can target .NET Standard projects.  But I am getting a InvalidProgramException when attempting to run an
`Eval.Execute<decimal>("a*b", new decimal(500.000), new `decimal(.75))`

[2021-04-22 18:11] mthrift2100 commented on #103
`System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.TypeInitializationException: The type initializer for 'Z.Expressions.EvalManager' threw an exception.
 ---> System.TypeInitializationException: The type initializer for 'Z.Expressions.EvalContext' threw an exception.
 ---> System.InvalidProgramException
   at Z.Expressions.EvalConte

[2021-04-22 22:39] noezad commented on #102
Hello @JonathanMagnan ,

I found the cause of the problem

This code works correctly:

var allEvent = await (from n in _context.Events
                      .WhereDynamic(c => "EF.Functions.FreeText(c.UseInSearch,\"test*\" ) && c.IsDelete == false")...

But This code does not work correctly:

string searchText='"' + "test" + '*' + '"';
var allEvent = await (from n in _context.Events

[2021-04-22 22:48] JonathanMagnan commented on #103
Hello @mthrift2100 ,

Our library support without problem `.NET 5`.

As explained by email, this issue happens due to the fact you use `Blazor` and probably try to use our library on the `Client Side` which doesn't support the full .NET Framework.

The `WebAssembly` (or whatever how it works in blazor) is limited and doesn't allow what is required by our library on the client-side such as compilin

[2021-04-22 23:14] noezad commented on #102
Done!

string searchText='"' + "test" + '*' + '"';
string query="c =>EF.Functions.FreeText(c.UseInSearch," + searchText + ") && c.IsDelete == false";
var allEvent = await (from n in _context.Events
.WhereDynamic(query)...

Best Regards,

Noezad

[2021-04-23 12:31] JonathanMagnan commented on #102
Awesome,

If I understand correctly, everything is now working?

It's also possible to pass parameter with an anonymous type:

[code]

[2021-04-29 13:40] #103 closed, assigned to JonathanMagnan

[2021-04-30 14:21] #102 closed, assigned to JonathanMagnan

[2021-05-10 13:57] stonstad opened #104 "Is Compilation Automatic?"
When is compilation performed for an expression?  Is it automatically performed if caching is enabled, or must I manually compile expressions?

[2021-05-10 16:14] JonathanMagnan commented on #104
Hello @stonstad ,

I'm not sure to 100% understand your question but I will try to answer it.

When you execute an expression,

- Our library firstly try to check if the compiled lambda is already cached. If yes, it returns and uses it
- If not cached, the `execute` will automatically call the `compile` then cache it
- Then will use the returned compiled lambda for the `execute`

So no, you do not

[2021-05-10 17:12] stonstad commented on #104
Answered perfectly.  Thank you Jon!

[2021-05-10 17:12] #104 closed, assigned to JonathanMagnan

[2021-05-19 19:40] stonstad commented on #99
This feature generally works but it seems to have a curious bug.

If a member is missing and the name of the member contains no numbers, DynamicGetMemberMissingValueFactory  works.
OK:  " " + result.Missing + " " + result.Missing

However, if a number is present, Eval throws Object reference not set to an instance of an object.
FAIL:  " " + result.Missing1 + " " + result.Missing2

string.Join(",",

[2021-05-21 12:28] JonathanMagnan commented on #99
Hello @stonstad ,

Could you provide a full example that works and one that fails. My developer and I are not exactly sure what you are saying.

We tried a few scenario but they were all working such as:

[code]

Best Regards,

Jon

[2021-05-21 16:42] stonstad commented on #99
Jon, my sincerest apologies.  This is, as you can imagine, completely user error.

[2021-05-21 16:42] #99 closed, assigned to JonathanMagnan

[2021-05-21 18:44] JonathanMagnan commented on #99
Thank for letting us know, have a great weekend ;)

Best Regards,

Jon

[2021-06-15 01:27] TheoVC opened #105 "Exception handling nulls"
This produces an exception, when it should return false

`Eval.Execute(" null != null " )`

[2021-06-15 12:54] JonathanMagnan commented on #105
Hello @TheoVC ,

Thank you for reporting, my developer will look at it.

Best Regards,

Jon

[2021-06-17 03:55] JonathanMagnan commented on #105
Hello @TheoVC ,

The v4.0.45 has been released.

Could you try it and let us know if everything is now working with nullable value?

Best Regards,

Jon

[2021-06-23 12:42] JonathanMagnan commented on #105
Hello @TheoVC ,

Since our last conversation, we haven't heard from you!

Did you get the chance to test the fix in the new version?

Don't hesitate to contact once you do!

Best regards,

Jon

[2021-06-30 12:27] #105 closed, assigned to JonathanMagnan

[2021-07-16 03:01] cesaryuan opened #106 "Something wrong with typeof"
This will throw an error, but it should not.
[code]
Error
[code]

[2021-07-16 13:17] JonathanMagnan commented on #106
Thank you for reporting @cesaryuan ,

We can successfully reproduce the error. There is a special logic we apply for type, we will try to remember why we did this logic which causes this error when trying to get a property for the type.

Best Regards,

Jon

[2021-07-20 03:17] JonathanMagnan commented on #106
Hello @cesaryuan ,

The v4.0.47 has been released.

Could you try it and let us know if everything is working?

Best Regards,

Jon

[2021-07-22 14:11] cesaryuan commented on #106
I works, thank u!

[2021-07-23 07:50] thomshib opened #107 "Handling exceptions for ZExpression"
I have a Z expression Z.Expression.EvalContext.Compile<Func<TInput,TResult>>(string..) call. This compiled expression is invalid state <Internal error Evaluating expression>.

How do I check for this error state so that I can handle it and throw a user defined exception?

[2021-07-23 13:32] JonathanMagnan commented on #107
Hello @thomshib ,

We currently have an `EvalException` which can give you some information but it still doesn't support all cases. You still have to catch the general exception as well.

[code]

Let me know if that answers your question.

Best Regards,

Jon

[2021-07-24 09:28] cesaryuan opened #108 "An error occurred while parsing the interpolated string."
The following code throws an exception, but it should work. Is there any problem when analyzing the `interpolated string`?
[code]
Exception message
[code]

[2021-07-24 11:55] JonathanMagnan commented on #108
Hello @cesaryuan ,

Thank you for reporting,

It looks indeed like a case that we never tested.

My developer will look at it.

Best Regards,

Jon

[2021-07-27 11:59] Cynicszm opened #109 "EvalContext.Compile behaviour change 4.0.43 to 4.0.47"
Hi,

Has the behaviour of EvalContext.Compile changed between 4.0.43 and 4.0.47?

The statement below works as expected in 4.0.43 but fails with **Oops! No applicable member has been found for the expression** in 4.0.47

` var compiledExpression = evalContext.Compile<Func<TemplateRowReader, object>>(expression);`

[2021-07-27 12:17] JonathanMagnan commented on #109
Hello @Cynicszm ,

Is it possible to know the current `expression` you are using? Or a runnable example

That will help us to better understand what happened here.

Best Regards,

Jon

[2021-07-27 12:24] Cynicszm commented on #109
Many thanks for the quick response Jon, my apologies turns out it was a dumb user error.

John

[2021-07-27 12:30] JonathanMagnan commented on #109
Glad to hear that it was sorted out!

Don't hesitate to contact us with any questions, issues, or feedback!

Best regards,

Jon

[2021-07-27 12:34] JonathanMagnan commented on #107
Hello @thomshib ,

Since our last conversation, I haven't heard from you!

Let me know if you need more information or assistance about how to handle the exception.

Looking forward to hearing from you,

Jon

[2021-07-28 19:10] JonathanMagnan commented on #108
Hello @cesaryuan ,

The v4.0.48 has been released.

Several issues similar to this one has been fixed in this release.

Could you try it and let us know if everything works fine with your expression?

Best Regards,

Jon

[2021-07-29 12:19] cesaryuan commented on #108
It Works great, thx.

[2021-07-29 12:19] #108 closed, assigned to JonathanMagnan

[2021-08-02 16:19] #109 closed, assigned to JonathanMagnan

[2021-08-02 16:20] JonathanMagnan commented on #107
Hello again @thomshib !

A simple reminder that we are here to assist you!

Don't hesitate to contact us if you need further assistance about how to handle the exception.

Best regards,

Jon

[2021-08-10 12:59] #107 closed, assigned to JonathanMagnan

[2021-08-19 04:14] cesaryuan opened #110 "Incorrect number of arguments supplied for lambda invocation"
The Program below throws an error, but it shouldn't.

[code]

Error Message throwed

[code]

[2021-08-19 13:17] JonathanMagnan commented on #110
Hello @cesaryuan ,

Thank you for reporting,

We indeed can reproduce this issue with your code. We will look at it.

Best Regards,

Jon

[2021-08-19 14:07] cesaryuan commented on #106
It seems that the problem still exists. I try the following expression, and it throws error.
[code]

[2021-08-19 14:24] JonathanMagnan commented on #106
Thank you for reporting @cesaryuan ,

My developer will look at it. Probably the same issue as the original one but this time on methods.

[2021-08-20 14:58] se opened #111 "new Dictionary<T,T> throwing System.OutOfMemoryException exception"
`new Dictionary<string, object>()` is throwing exception.

**Sample Code**
[code]

**Exception**
[code]

Trying to apply a workaround but no chance right now. It is an urgent situation for us.

[2021-08-21 12:09] cesaryuan opened #112 "GenericArguments[0], 'System.String', on 'System.Nullable`1[T]' violates the constraint of type 'T'."
Execute the following statement by EvalContext throws an error, could you please check it out?
[code]
Error Message throwed
[code]
Incorrect number of arguments supplied for lambda invocation

[2021-08-22 13:34] cesaryuan opened #113 "No applicable member?"
Execute the following statement by EvalContext throws an error, could you please check it out?
[code]
Error Message throwed
[code]
Incorrect number of arguments supplied for lambda invocation

[2021-08-23 11:59] JonathanMagnan commented on #111
Hello @se ,

Sorry for the delay, my developer tried it and everything is working without problem.

Where the issue happens is pretty weird on the `GetTypeByName`.

Is it possible to provide a runnable project that throw the exception? We will for sure fix it asap if we can reproduce it.

You can send the project in private here: info@zzzprojects.com if needed.

Best Regards,

Jon

[2021-08-23 12:00] JonathanMagnan commented on #113
Hello @cesaryuan ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2021-08-23 12:01] JonathanMagnan commented on #112
Hello @cesaryuan ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2021-08-25 12:48] JonathanMagnan commented on #111
Hello @se ,

Since our last conversation, we haven't heard from you!

As mentioned in my previous message, Would it be possible to send a private project that throws the exception to info@zzzprojects.com so we can fix the issue?

Looking forward to hearing from you,

Jon

[2021-08-25 15:05] JonathanMagnan commented on #106
Hello @cesaryuan ,

The v4.0.51 has been released.

Could you test it and let us know if we fixed it successfully?

[2021-08-25 15:05] JonathanMagnan commented on #113
Hello @cesaryuan ,

The v4.0.51 has been released.

Could you test it and let us know if we fixed it successfully?

[2021-08-25 15:07] JonathanMagnan commented on #112
Hello @cesaryuan ,

The v4.0.51 has been released.

Could you test it and let us know if we fixed it successfully?

[2021-08-25 15:07] JonathanMagnan commented on #110
Hello @cesaryuan ,

The v4.0.51 has been released.

Could you test it and let us know if we fixed it successfully?

[2021-08-25 15:11] cesaryuan commented on #110
Thank you so much! It has worked!

[2021-08-25 15:11] cesaryuan commented on #112
Thank you so much! It has worked!

[2021-08-25 15:11] #112 closed, assigned to JonathanMagnan

[2021-08-25 15:11] cesaryuan commented on #113
Thank you so much! It has worked!

[2021-08-25 15:11] #113 closed, assigned to JonathanMagnan

[2021-08-25 15:11] cesaryuan commented on #106
Thank you so much! It has worked!

[2021-08-25 15:11] #106 closed, assigned to JonathanMagnan

[2021-08-25 16:35] se commented on #111
Sorry. I fixed with a workaround. I'm gonna try to create a new private project and reproduce the issue.

[2021-08-30 14:41] samchenws opened #114 "Compile fail"
Eval.Compile<Func<string, string>>(code, param)
When param="" ,throw Index was out of range. Must be non-negative and less than the size of the collection. (Parameter 'startIndex')

[2021-09-01 12:34] cesaryuan commented on #110
When I change the statements as follows, another Exception is throwed.
[code]
Exception:
[code]

[2021-09-02 18:03] JonathanMagnan commented on #114
Hello @samchenws ,

Thank you for reporting.

The v4.0.52 has been released

The error message has been improved indicating that a variable name cannot be empty.

Best Regards,

Jon

[2021-09-06 00:59] JonathanMagnan commented on #110
Hello @cesaryuan ,

Unfortunately, that issue is a lot harder on our side to fix as it requires a big revamps to use some existing code about method resolution.

It is possible to know if you have a license for our library? If yes, could you sent your license name to confirm it at: info@zzzprojects.com

If you have paid for the support, we will try to give this issue another shot.

Best Regards,

[2021-09-06 12:54] JonathanMagnan commented on #110
Hello @cesaryuan ,

We got an email confirming it.

I cannot promise anything yet since that one is more complex but we will look at it again and try to support this case.

Best Regards,

Jon

[2021-09-06 12:56] cesaryuan commented on #110
Thank you for your effort!

[2021-09-08 13:42] #111 closed, assigned to JonathanMagnan

[2021-09-09 12:17] JonathanMagnan commented on #110
Hello @cesaryuan ,

The v4.0.53 has been released.

We did a quick fix as we didn't succeed to plug the resolution we normally use for methods. So we might still have some improvement to do here but it should now work with your case without a problem.

Best Regards,

Jon

[2021-09-16 14:39] #114 closed, assigned to JonathanMagnan

[2021-09-16 14:44] #110 closed, assigned to JonathanMagnan

[2021-09-28 08:33] cuiliang opened #115 "Strange return value with "_context""
https://dotnetfiddle.net/6IEtGc

code:
[code]

returns `zzz_f900d830_3564_44fc_a449_570a57c64ff5` which should return a string `_context` .

![image](https://user-images.githubusercontent.com/1972649/135054368-f14eaf47-20ef-43e3-baa2-ffb80f99eaf1.png)

[2021-09-28 08:37] cuiliang commented on #115
remove `_` from variable name will return correct result.

[2021-09-28 13:16] JonathanMagnan commented on #115
Hello @cuiliang ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2021-09-29 14:02] amarendravanipenta opened #116 "Unable to use compare operator between two strings"
I have been trying to evaluate an expression of string comparison. But I was getting a run time error. Below is the snippet of the compiler with the error.

For Numeric:

![image](https://user-images.githubusercontent.com/71650921/135283627-20822751-f30d-41c5-8773-cf5f40ca83f9.png)

For Strings :

![image](https://user-images.githubusercontent.com/71650921/135283763-31e01f7c-3e19-4c14-b257-75bc5d4

[2021-09-29 14:09] JonathanMagnan commented on #116
Sure we can compare easily string: https://dotnetfiddle.net/kONyU0

But in your example, your “female” is currently not considered a string but a variable since there is no quote. So that’s why you get the current error.

So that’s possible, but only if you let our library know that your string is a string 😉

Let me know if that answers correctly to your request.

Best Regards,

Jon

[2021-09-29 14:11] amarendravanipenta commented on #116
Perfect!
Thanks for the quick assistance.

[2021-09-29 14:11] #116 closed, assigned to JonathanMagnan

[2021-10-27 16:21] JonathanMagnan commented on #115
Hello @cuiliang ,

Unfortunately, we still have not succeeded to fix this issue correctly without getting some side impact as we know some people use that feature in their code (Dict key is replaced by value).

However, we choose to add an option to disable this behavior as we understand not everyone wants it and as you show, it cause also some impact.

You can disable it with the options `Disable

[2021-10-28 00:14] cuiliang commented on #115
Thank you! Got it~

Jonathan Magnan ***@***.***> 于2021年10月28日周四 上午12:21写道：

[2021-11-11 13:04] ceastld opened #117 "The Enumerable.Intersect seems doesn't work for IEnumberable<char>"
The following statement will report an error.

[code]
The error is as follows

![image](https://user-images.githubusercontent.com/61349137/141302637-ebe48700-b232-43d2-89dd-a25ec39c7669.png)

[code]

but the `Intersect` method works for `List<string>`

[2021-11-11 16:38] JonathanMagnan commented on #117
Hello @dyliu02 ,

Thank you for reporting, we can successfully reproduce it with your code and we will look at it.

Best Regards,

Jon

[2021-11-18 19:01] JonathanMagnan commented on #117
Hello @dyliu02 ,

The v4.0.63 has been released.

Could you test it and let us know if methods now work correctly with `IEnumerable<char>` interface like in this case?

Best Regards,

Jon

[2021-11-19 01:42] ceastld commented on #117
Ok, I tested it, and it works correctly now.

Thank you @JonathanMagnan

[2021-11-20 02:50] fidke opened #118 "Eval.Tokenize throws NullReferenceException if a variable starts with _ and the next character is a number"
For example if the variable name is `_1`, this is valid c# code that compiles but `Eval.Tokenize` will throw an exception if it encounters the `_1` variable:
[code]
---

STR:
[code]
Throws exception:
[code]

[2021-11-20 02:51] fidke commented on #118
Tested in version 4.0.63

[2021-11-20 15:57] JonathanMagnan commented on #118
Hello @fidke ,

Thank you for reporting, we support `_a` (followed by a char) but not `_1` (followed by a number).

This is probably something we missed and should not be hard to fix.

One of my developers will look at it.

Best Regards,

Jon

[2021-11-23 12:44] cesaryuan opened #119 "Exception when initializing Dictionary<string, object>"
[code]
Code above throw errors.
[code]

[2021-11-23 14:19] JonathanMagnan commented on #119
Hello @cesaryuan ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2021-11-24 17:11] JonathanMagnan commented on #119
Hello @cesaryuan ,

The v4.0.64 has been released.

Could you try it and let us know if the code works correctly now?

Best Regards,

Jon

[2021-11-24 17:14] JonathanMagnan commented on #118
Hello @fidke ,

The v4.0.64 has been released.

We fixed many cases in which the `_` was not working as expected.

Let us know if everything is working on your side.

Best Regards,

Jon

[2021-11-25 06:37] cesaryuan commented on #119
Thanks for your quick fix! @JonathanMagnan

[2021-11-25 06:37] #119 closed, assigned to JonathanMagnan

[2021-12-02 19:49] #117 closed, assigned to JonathanMagnan

[2021-12-08 14:37] #118 closed, assigned to JonathanMagnan

[2021-12-12 11:09] cuiliang opened #120 "Can not detect type"
Sample code: https://dotnetfiddle.net/Q2Zh4s

Code  to Execute():
[code]

Error:
[code]

To solve the problem, need to give direct type to iterator variable:
[code]

[2021-12-14 19:11] JonathanMagnan commented on #120
Hello @cuiliang ,

The fix has been merged.

It should be released tomorrow (Wednesday)

Best Regards,

Jon

[2021-12-14 23:47] cuiliang commented on #120
Thank you @JonathanMagnan !

[2021-12-14 23:47] #120 closed, assigned to JonathanMagnan

[2021-12-15 17:30] JonathanMagnan commented on #120
Hello @cuiliang ,

The v4.0.68 has been released.

Let me know if everything is working in this new version.

Best Regards,

Jon

[2022-01-01 13:40] cuiliang opened #121 "Exception: The number of generic arguments provided doesn't equal the arity of the generic type definition."
Sample code:
https://dotnetfiddle.net/l5fmQa

Problem only happend if add this line:
[code]

Full code:
[code]

Exception:
[code]

[2022-01-06 17:36] JonathanMagnan commented on #121
Hello @cuiliang ,

The problem happen because the `DataRowCollection` have also a type `func` which currently overrides the System.Func you want to use.

[code]

We are currently looking at it to remove this conflict, so the `System.Func` always win

Best Regards,

Jon

[2022-01-07 16:38] MichaelKastl opened #122 "Executing Linq To Entities against Database with dictionary parameter doesn't work"
Whenever I try to execute a Linq to Entities query against a database using a Dictionary<string, object> as the parameter object, the query fails. I get an EvalException saying "No applicable member has been found for the expression. The error occurred for expression "." at position 3 near ".Where(x => x.Record.Proj". For one thing, my query doesn't start with a period. For another, I've tried the

[2022-01-07 20:03] MichaelKastl commented on #122
I realized that only eval.Execute supports a dictionary parameter. This is something you should probably put in your documentation, especially considering I couldn't even find the method in your source code to see how it was being handled.

For anyone who needs to do this in the future: use their SelectDynamic method to cast your parameters into an anonymous type. Make sure to add conversion state

[2022-01-07 20:03] #122 closed, assigned to JonathanMagnan

[2022-01-12 14:28] JonathanMagnan commented on #121
Hello @cuiliang ,

The v4.0.70 has been released.

This issue should now be fixed.

Best Regards,

Jon

[2022-01-12 14:29] cuiliang commented on #121
@JonathanMagnan Thank you ~

[2022-01-12 14:29] #121 closed, assigned to JonathanMagnan

[2022-01-21 17:39] MichaelKastl opened #123 "How to register a type for DbSet.Execute()"
I'm attempting to use DbFunctions classes inside an Exeute() method on a DbSet in an EF6 DbContext. I get an error stating that no applicable member has been found for the expression. I've tried using
[code]
to register it, but that gives me a NullRef exception with no hints as to what's actually returning as null. Can I not register types for this particular method, or am I misunderstanding the d

[2022-01-21 19:31] #123 closed, assigned to nobody

[2022-01-24 15:20] gksbr opened #124 "Which Date Format Should We Use In WhereDynamic"
Hello,

Below code throws "No applicable member has been found for the expression" error.

`WhereDynamic(x => "x.EndDate == 2022-01-01")`

I tried various date and time formats but I couldn't figure it out.

If I try like this, it works, but I want to query with day, month and year.

`WhereDynamic(x => "x.EndDate.Year == 2022")`

Could you help me please?

Thank you.

[2022-01-25 01:36] JonathanMagnan commented on #124
Hello @gksbr ,

One way to work easily with datetime is surrounding them with `#`.

So something like this:

[code]

Here is an online example: https://dotnetfiddle.net/21dOz9

[code]

Let me know if that worked.

Best Regards,

Jon

[2022-01-25 06:58] gksbr commented on #124
Hello @JonathanMagnan,

It worked, thank you so much for the help

[2022-01-25 06:58] #124 closed, assigned to JonathanMagnan

[2022-01-28 08:35] cesaryuan opened #125 "Error when as Func<string>"
Execute the code below with `EvalManager.DefaultContext.Execute`
[code]
It will throw Exception like this
[code]

Version: 4.0.71

[2022-01-28 13:39] JonathanMagnan commented on #125
Hello @cesaryuan ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2022-02-24 04:29] cesaryuan commented on #125
Hi, Any updates here?

[2022-02-24 16:13] JonathanMagnan commented on #125
Hello @cesaryuan ,

Unfortunately supporting it correctly is harder than we initially thought.

The first prototype fix that has been proposed by my employee was refused. This week, we made some progress to better parse this kind of syntax, but we have not completed it yet.

The good thing is that we continue to work on it, so we hope to be able to provide you a fix soon but we do not have any det

[2022-04-20 11:21] toliverg opened #126 "Problem with DateTimeOffset and EF Core using Postgres"
Hi,

I have a problem using dynamic querys when a DateTimeOffset field is used to filter when used in a Postgres EF Core solution. For example I have this working fine:
ctx.Customers.Where(x => x.NewDate == new DateTimeOffset(2016, 7, 8, 0, 0, 0, 0, new TimeSpan(2,0,0))).ToList()

but when I try this:
ctx.Customers.WhereDynamic("x => x.NewDate == new DateTimeOffset(2016, 7, 8, 0, 0, 0, 0, new Time

[2022-04-20 14:27] JonathanMagnan commented on #126
Hello @toliverg ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

[2022-04-22 14:15] JonathanMagnan commented on #126
Hello @toliverg ,

Which package for `PostgreSQL` are you using? My developer tried it and everything seems to work fine.

Are you using `DevArt PostgreSQL` or another one?

If possible, do you think you could create a runnable project with the issue? It doesn’t need to be your project, just a new solution with the minimum code to reproduce the issue. It will help my developer to directly pass tim

[2022-04-22 14:52] toliverg commented on #126
Hi,

I'm using Npgsql.EntityFrameworkCore.PostgreSQL 6.0.4.

I have included a small working project. You just need to change the connection string in MyContext.cs

[TestDatetimeOffset.zip](https://github.com/zzzprojects/Eval-Expression.NET/files/8541917/TestDatetimeOffset.zip)

Best Regards,

Tolo

[2022-05-05 00:49] cuiliang opened #127 "Is there any chance to support newer c# version syntax?"
Thank you!

[2022-05-05 00:49] #115 closed, assigned to JonathanMagnan

[2022-05-05 12:57] JonathanMagnan commented on #127
Hello @cuiliang ,

I don't think at this moment we will make any change to support new syntax as we currently mainly focus to improve another library (EF Extensions) until at least the end of summer. From time to time, we add some new syntax but there is currently no short term plan at this moment to go on everything which new C# syntax has been recently added to try to support it.

Best Regards,

[2022-05-05 13:06] cuiliang commented on #127
Thank you, got it~

[2022-05-05 13:06] #127 closed, assigned to JonathanMagnan

[2022-05-07 11:40] toliverg commented on #126
Hi,

Do you have an update on this?

Thanks

[2022-05-09 12:45] JonathanMagnan commented on #126
Hello @toliverg ,

The fix has been merged last week. It should be released tomorrow.

Best Regards,

Jon

[2022-05-10 07:07] ceastld opened #128 "Could not regard string as IEnumerable<char>"
The expression below will get an error
[code]
Error:
[code]

And this is Ok
[code]

[code]

[2022-05-10 14:21] JonathanMagnan commented on #128
Hello @ceastld ,

Thank you for reporting.

I will ask my developer to look if we can support this kind of scenario.

Best Regards,

Jon

[2022-05-11 06:58] toliverg commented on #126
Hi,

The fix is working. Thanks a lot for your help.

Best Regards,

Tolo

[2022-05-11 06:58] #126 closed, assigned to nobody

[2022-05-11 14:14] JonathanMagnan commented on #126
Awesome, thank for letting us know ;)

[2022-05-13 17:27] stonstad opened #129 "Caching Memory Leak"
With caching off memory is fixed at 200mb.  With caching on I see unchecked memory growth to 20GB+.

My scenario is Eval.Execute(string expression, Dictionary<string, object> values);

To confirm I am not passing in a variety of expressions I create a Hash<string> and add each expression to it.  I can confirm 196 different expressions.

If the expression input is bound at 196 variations should mem

[2022-05-13 17:40] stonstad opened #130 "Threading Question"
If I use Eval.Execute in a highly threaded scenario, is there internal blocking?  I notice that as I ramp up threads throughput remains about the same.  Would I see better performance if I create a context for each thread?

[2022-05-13 18:48] stonstad commented on #129
I can confirm 196 unique expressions but the MemoryCache entries size grows indefinitely (100,000+).  There are no cache hits.

[2022-05-13 18:55] stonstad commented on #129
The expressions I am using are all the same (196 total) -- and they have carriage returns, spaces, semi-colons, etc.

[2022-05-16 12:51] JonathanMagnan commented on #129
Hello @stonstad ,

The cache key uses the `type` of each entry in the dictionary value.

One thing we miss on our side is doing an `OrderBy` on the type name. I will ask my developer to look and add this for the next release.

However, I'm not sure if that will explain your 20GB or not. I believe your issue might be something else but the missing `OrderBy` is definitely a problem.

Do you think yo

[2022-05-16 13:37] stonstad commented on #129
Thank you for the response, Jon.  I’ll work to get you a reproduction project.  One question I have is how the cache key is created.   Is the cache key specific to expression passed into the evaluate function, or does it include type information for secondary parameters?  If type information is used, what happens if the type is dynamic?

*edited*

In one example, the passed in types are :

[code]

[2022-05-16 14:22] stonstad commented on #129
In an attempt to address caching, I changed my use of anonymous type (e..g.)
   Eval.Execute(expression, new { Result = value }) I am trying a concrete class called ResultType …
to
   Eval.Execute(expression, new ResultType(value))

This throws an exception Oops! The following type ..ResultType is not yet supported for the UseSmartExecuteParmaterResolution option.

ResultType is

public struct Res

[2022-05-16 14:32] JonathanMagnan commented on #129
The cache key is a combination of:

- The expression
- The return type
- Parameter types (including those in the concurrency dictionary/the anonymous types)
- Local/Global variables
- Options values such as if `UseSmartTypeResolution` is enabled

So all 3 expressions would give different keys because of the `Parameter types` part which is different for all of them

[2022-05-16 14:34] stonstad commented on #129
UseSmartTypeResolution is enabled.

The expression is the same but the variables in the second parameter, the concurrent dictionary, obviously do change.  Is this why caching is not working?  How do we address this behavior?

[2022-05-16 14:36] JonathanMagnan commented on #129
If the type is the same, the same key should be used. The value doesn't matter to create the key, only the value type.

[2022-05-16 14:38] JonathanMagnan commented on #129
Looking at the code, it seem to works with:

- Dictionary
- ExpandoObject
- Anonymous Type

For other type, you will receive the error about that's not supported for the UseSmartExecuteParameterResolution option.

[2022-05-16 14:39] stonstad commented on #129
OK, thanks Jon.  I am good using an anonymous type.  I was just trying different things in an attempt to get things to work.  I am working to provide a reproduction project now.

Thanks,
Shaun

[2022-05-16 16:13] stonstad commented on #129
Hey Jon,

After inspecting the cache it becomes clear that Eval(string, ConcurrentDictionary<string, object>) creates a unique cache entry for each dictionary value contained within the second dictionary parameter.  Since the dictionary may contain variable input each evaluation results in a cache miss:

The cache entries share the following parameters:
Parameter1: The expression is: DocumentOwner

[2022-05-16 16:26] stonstad commented on #129
Associated reproduction code:

removed.  See below.

[2022-05-16 16:28] stonstad commented on #129
[code]

[2022-05-16 16:32] stonstad commented on #129
Dictionaries have random key/value storage order.  Hopefully this isn't by design in Eval-Expression.

[2022-05-16 19:13] stonstad opened #131 "Eval.Execute Fails if Cache SizeLimit Set"
EvalManager.Cache = new MemoryCache(new MemoryCacheOptions() { SizeLimit = 100 });
Eval.Execute(...)

// System.InvalidOperationException: 'Cache entry must specify a value for Size when SizeLimit is set.'

[2022-05-16 22:11] JonathanMagnan commented on #131
Thank you for reporting,

We will look at this to set the `Size` now

Best Regards,

Jon

[2022-05-16 22:23] stonstad commented on #129
As an attempted work-around I now do the following --

1. Construct a sorted dictionary with values in alphanumerical order.
2. Remove dictionary values (based on key name) which are not contained in the expression.

This addresses a few use cases but it is a poor solution because it requires full traversal of the expression for each variable contained in the dictionary.  Building a language parse

[2022-05-16 22:26] stonstad commented on #130
Just returning to this issue.  It may be related to the code being CPU bound.  https://github.com/zzzprojects/Eval-Expression.NET/issues/129 is causing cache misses for each expression evaluated (despite same expression text), which in turn requires compilation and higher than anticipated CPU utilization.

[2022-05-17 00:30] JonathanMagnan commented on #130
Hello @stonstad ,

You should not have any performance improvement if you create a context for each thread.

Indeed, let's check first with issue #129 and see if this one still happens after.

Best Regards,

Jon

[2022-05-17 01:54] JonathanMagnan commented on #129
Hello @stonstad ,

**Cause**

Your expression uses a value directly in the dictionary without accessing the dictionary (use members automatically included).

So the only way to retrieve if the expression has already been compiled and re-use the method is to add all dictionary types in the cache key. We do not know in advance which key from the dictionary is used and the only step we could have kno

[2022-05-17 12:15] stonstad commented on #129
**_"simply checking if the key is contained in the expression"_**

Yes, this could work. It would need to address the issue of hierarchical ExpandoObject/Dictionary children key creation.  See below.  Some of our workflows specify dictionaries with 100+ variables but only one or two are used in the expression.

**_"We could also add an option to never add to the cache the dictionary key/type but t

[2022-05-18 09:35] peterchaloux commented on #129
Hi @JonathanMagnan thanks for jumping on this yesterday morning.  Could we get an update based on Shaun's last comment?  Do you have any sense of an ETA?

[2022-05-19 16:55] faramos opened #132 "UnregisterAll to prevent access to unsafe operations"
First of all, congratulations on this impressive library.
I don't know if I'm getting the purpose of UnregisterAll right, but is it the expected behavior?

[code]

Running this snippet in dotnetfiddle will ouput "/app" to the console.

[2022-05-19 18:05] JonathanMagnan commented on #132
Hello @faramos ,

Thank you a lot for your good word. I still remember all months of efforts I did to create this library ;)

Using `UnregisterAll` doesn't prevent people from using them. They just don't have any more access anymore to some "shortcut" to members registered by default.

If you want your user to only be able to access what you have registered, you need to use: `evalContext.SafeMode

[2022-05-20 12:46] JonathanMagnan commented on #129
Hello @peterchaloux ,

A new version should be released next Tuesday.

In this version, we will add a new option `TmpSmartCacheKey ` that you will be able to enable and will change how the cache behaves to try to solve this problem.

We called this new option "Tmp" for temporary as I believe we will still work with your company in coming weeks to improve it more and we are still not sure if the fi

[2022-05-23 13:30] toliverg opened #133 "Flags enum problem"
Hi,

I encountered a problem trying to filter a dynamic linq expression using a flag-enum and a bit-and.

I can  execute something like .WhereDynamic("x => x.CustomerType == CustomerType.A") but when I try to filter for something like: .WhereDynamic("x => (x.CustomerType & CustomerType.A) == CustomerType.A") I'm getting **Z.Expressions.Compiler.Shared.EvalException: 'Oops! No applicable member has

[2022-05-23 15:16] JonathanMagnan commented on #133
Hello @toliverg ,

Thank you for the project,

My developer will look at it and try to fix it.

Best Regards,

Jon

[2022-05-23 18:38] stonstad commented on #129
I think it would be helpful if there is a method to return the generated cache key.  With this information we can learn when cache hits vs misses occur, and provide better diagnostic information to you.

[2022-05-24 14:21] stonstad commented on #131
Jon, can you share what the default cache policy is?  Is the cache expired by duration, or weight?  i.e. how long is each entry stored?

https://eval-expression.net/eval-manager

[2022-05-25 14:17] JonathanMagnan commented on #129
Hello @stonstad ,

In the latest version released yesterday, it's now possible to improve the cache key with the only key that is used in the expression with the following option: `TmpSmartCacheKey  = true`. The current option has the prefix `Tmp` as the behavior might still risk changing or even be the default behavior in a near future.

It should dramatically reduce the number of caches in your

[2022-05-25 14:19] stonstad commented on #129
Thank you Jon. This is terrific.  We will test it right away and report back.

Thanks,
Shaun

[2022-05-25 14:21] JonathanMagnan commented on #133
Hello @toliverg ,

The v4.0;82 has been released.

Let me know if everything is now working correctly with enum.

Best Regards,

Jon

[2022-05-25 14:23] JonathanMagnan commented on #130
Hello @stonstad ,

Let me know if you still have the issue after applying the same fix as the one in the Issue #129

Best Regards,

Jon

[2022-05-25 14:45] JonathanMagnan commented on #128
Hello @ceastld ,

The v4.0.82 has been released.

Could you confirm for us that everything works fine with the latest version?

Best Regards,

Jon

[2022-05-25 14:47] stonstad commented on #129
Jon, could you give us some additional detail?  Specifically, what defines the new cache key?  Does it include the types of variables?  If a variable type is dynamic or an expando object, does the type information include this hierarchy, or can it work without a type hierarchy in the key?  Thanks.

[2022-05-25 16:18] JonathanMagnan commented on #129
Hello @stonstad ,

When using the `TmpSmartCacheKey`, the key is generated with:
- CacheKeyPrefix
- Expression to evaluate
- Return Type
- Dictionary Key/Type (Only if the `Key` is part of the expression unless it starts with `{` which we internal use for some parameter)
- A Concatenation of most options (mostly bool) such as `UseSmartTypeResolution`, `UseCaretForExponent`, etc.

## Expando

Only

[2022-05-25 17:08] stonstad commented on #131
@JonathanMagnan  I'm testing version .82 and this is a question that we are wondering about (above).  When an item is entered into the cache, what is the duration or weight used so that we can understand how long the cache is populated?  Thanks.

[2022-05-25 18:10] stonstad commented on #130
No issues on this one.  Please feel free to close.  Thank you!

[2022-05-25 18:10] #130 closed, assigned to JonathanMagnan

[2022-05-25 18:19] JonathanMagnan commented on #131
Hello @stonstad ,

A full answer will be provided later today as a new version will be released for this issue and which will change the current answer.

[2022-05-26 06:30] toliverg commented on #133
Hi,

Yes, it's working fine now. Thanks a lot for the fast fix.

Best Regards,

Tolo

[2022-05-26 06:30] #133 closed, assigned to JonathanMagnan

[2022-05-26 12:25] JonathanMagnan commented on #131
Hello @stonstad ,

The v4.0.83 has been released.

The default cache policy had no option at all before.

Here is the current new cache policy introduced with the fix for this issue:

[code]

So only the Size is set to fix the fix issue when someone specifies a `SizeLimit`

## How to change the cache policy?

Since the v4.0.83, it is now possible to change the cache policy using the `MemoryCacheEn

[2022-05-26 12:40] JonathanMagnan commented on #129
Hello @stonstad ,

The v4.0.83 has been released.

I improved by last answer to explain more how it works.

Let me know if you need more information.

[2022-05-26 12:46] stonstad commented on #131
Perfect, thank you!  Please feel free to close this issue.

[2022-05-26 12:48] stonstad commented on #129
Testing.  Thank you!

[2022-05-26 13:03] #131 closed, assigned to JonathanMagnan

[2022-05-26 15:06] ceastld commented on #128
Hi @JonathanMagnan
Thanks for fix this issue.
And I test it, everything works fine

[2022-05-26 15:14] JonathanMagnan commented on #128
Hello again!

Great to hear everything is working as expected.

Don't hesitate to contact us if you need more information.

Best regards,

Jon

[2022-05-26 15:14] #128 closed, assigned to JonathanMagnan

[2022-06-03 14:00] #132 closed, assigned to JonathanMagnan

[2022-06-06 12:03] vzsoft opened #134 "Error null parameter"
hi
i got error send null parameter in query
`object query = context.Execute(@"var ss=""""; return ss=={0} ? 1: 2;", new object[] { null });`

Error : System.NullReferenceException: 'Object reference not set to an instance of an object.'

Version: 4.0.83

[2022-06-06 14:10] JonathanMagnan commented on #134
Hello @vzsoft ,

Thank you for reporting, my developer is currently looking to fix this issue.

Best Regards,

Jon

[2022-06-07 16:33] JonathanMagnan commented on #134
Hello @vzsoft ,

The v4.0.84 has been released.

Could you look at it and confirm that my developer fixed this issue correctly?

Best Regards,

Jon

[2022-06-08 12:32] vzsoft commented on #134
Nice Work

thank you

[2022-06-08 12:32] #134 closed, assigned to JonathanMagnan

[2022-06-14 22:20] JonathanMagnan commented on #129
Hello @stonstad ,

Just to let you know that starting from the v4.0.85, the option `TmpSmartCacheKey` has been renamed by `UseShortCacheKey`. No additional logic has been added.

[2022-06-15 08:43] TOuhrouche opened #135 "Broken NuGet package"
Hi,
All our builds are failing with the following error message
`error NU5037: The package is missing the required nuspec file. Path: C:\a\1\.nuget\packages\z.expressions.eval\4.0.43`
Anyone facing similar issues?

[2022-06-15 12:59] JonathanMagnan commented on #135
Hello @TOuhrouche ,

That's a very old package, so nothing has changed on our side.

If this was the package you were already using in your previous build, there is a good chance that the issue come from your side and not our (the package is still the same and still available on NuGet).

Best Regards,

Jon

[2022-06-15 18:15] #135 closed, assigned to JonathanMagnan

[2022-06-15 18:15] TOuhrouche commented on #135
Thanks Jon. I upgraded to the latest NuGet package and the issue went away.

[2022-06-19 19:25] tcpmod opened #136 "Compile Expression expecting an Expando Throws"
Hello, When I use execute against the following expression string on the expandoObject it works nicely, returns bool (true).

However when I compile the expression and try to invoke the Func<ExpandObject,bool> it throws with the exception below.

Would be grateful to know if compile and invoke would be expected to work in this scenario, considering Execute does.

Many thanks in advance. (example a

[2022-06-20 12:56] JonathanMagnan commented on #136
Hello @tcpmod ,

Thank you for reporting, we will look at this.

The `Execute` method can work as we know the type of the `Addresses` (Even if we compile the method, we can still have access to the value of the parameter).

The `Compile` method currently doesn't work as we probably have no idea what is the current type. Since that's an `ExpandoObject`, the type could be anything.

I will assign my

[2022-06-20 13:47] tcpmod commented on #136
Many thanks @JonathanMagnan for the update, yes that makes sense.
Kind regards
Mike.

[2022-07-04 16:59] #129 closed, assigned to JonathanMagnan

[2022-08-09 06:16] saber-wang opened #137 "Can I not throw an exception when expression evaluation fails?"
for example：
[code]
The following exception will be thrown:
[code]

I want to return `default`.

[2022-08-09 13:04] JonathanMagnan commented on #137
Hello @saber-wang ,

Thank you for asking,

I can understand the reason when using a nullable type such as `bool?`.

Are you looking for a solution only for when the compilation fails (like this case) or also when the execution fails?

Best Regards,

Jon

[2022-08-10 01:07] saber-wang commented on #137
@JonathanMagnan  Thank you for your answer. After reading your answer, I realized that the compilation phase failed.
Can I handle it at this stage?

[2022-08-10 13:05] JonathanMagnan commented on #137
Hello @saber-wang ,

It depends on what you mean by "Can I handle it". What exactly do you want to do?

You can sure handle it with a try/catch but I'm not really sure what you are looking for.

When the compilation fail, the error causing it is raised, and the 2 followings properties are populated:
- OriginalCode: Your current expression
- ParsedCode: The expression we parsed as sometimes we do s

[2022-08-10 13:43] J3-code opened #138 "Unable to Execute method that requires Dictionary<string, object> parameter"
I'm trying to call `context.Execute()` on a method that requires a `Dictionary<string, object>` to be passed in. When invoked, I received the following message:

`No applicable member has been found for the expression`

If I change the parameter passed in to something simple like a string, I'm able to call the method without issue. I've also tried to pass in a `Dictionary<string, string>` and rece

[2022-08-10 14:52] JonathanMagnan commented on #138
Hello @JamesHill3 ,

Thank you for reporting, my developer will look at it.

Best Regards,

Jon

[2022-08-11 01:19] saber-wang commented on #137
@JonathanMagnan  I don't want to throw an exception here because the object is dynamic.😁

[2022-08-11 13:32] JonathanMagnan commented on #137
Hello @saber-wang ,

Your current example is an anonymous type, not an expando / dynamic object.

Expando and dynamic object will normally compile without problem but will indeed raise an error when executing if, for example the property in the expression doesn't exists.

[2022-08-12 00:55] saber-wang commented on #137
@JonathanMagnan  That's right. I was negligent. Thanks for your help.

[2022-08-12 00:55] #137 closed, assigned to JonathanMagnan

[2022-08-18 15:31] JonathanMagnan commented on #138
Hello @JamesHill3 ,

Just to give you an update, we currently have a fix under review.

If approved, it will be merged next week.

Best Regards,

Jon

[2022-09-15 04:08] JonathanMagnan commented on #138
Hello @JamesHill3 ,

Sorry for the long delay on this issue,

The v4.0.88 has been released, which should fix this issue.

Let me know if everything is now working as expected.

Best Regards,

Jon

[2022-09-29 19:57] lucasgl opened #139 "Eval expression with $c in the variable name throw an exception"
For example
Expression: "$cookingTimer == 0"

throw exception:
"zzz_SOMEGUIDer" expression is null.

[2022-09-30 01:40] JonathanMagnan commented on #139
Thank you to report this issue.

We will look at this to see if something can be fixed on our side.

Best Regards,

Jon

[2022-09-30 15:08] JonathanMagnan commented on #139
Hello @lucasgl ,

Do you think you could create a runnable project with the issue? It doesn’t need to be your project, just a new solution with the minimum code to reproduce the issue. You can send it in private here: info@zzzprojects.com

Unfortunately, we are not able to reproduce this exact problem, we are currently missing something, so having a project that can reproduce it will surely save u

[2022-10-05 12:51] JonathanMagnan commented on #139
Hello again,

Since our last conversation, we haven't heard from you.

As mentioned in my previous message, could you create a runnable project with the issue?

Let me know if you have any questions.

Best regards,

Jon

[2022-10-06 12:52] lucasgl commented on #139
Sorry, got busy in the last days, will get back in it next week! Thanks for
the follow up!

On Wed, Oct 5, 2022, 8:51 AM Jonathan Magnan ***@***.***>
wrote:

[2022-10-14 14:01] JonathanMagnan commented on #139
Hello @lucasgl ,

A simple reminder that we are here to assist you.

Don't hesitate to contact us if you need anything.

Best regards,

Jon

[2022-10-28 13:29] #139 closed, assigned to JonathanMagnan

[2022-11-16 14:13] arsman-ahmad opened #140 "Web page is not rendering correctly"
Hi,

I was looking for a `custom comparer` in `Dynamic Linq` while using `OrderBy`. I find that there's some issue on the page due to which the content is not loading correctly. The page having 04 content section and only first section is loading correctly. (I'm attaching `link` and `image` of the page here as well.)

**Link**
https://eval-expression.net/linq-dynamic-orderby-examples

**Image**

!

[2022-11-16 15:31] JonathanMagnan commented on #140
Hello @arsman051 ,

Thank you for reporting.

Indeed something is missing here. Look to happen on multiple pages.

We will look at it.

Best Regards,

Jon

[2022-11-18 17:57] JonathanMagnan commented on #140
Hello @arsman051 ,

A new version is now in production. We reviewed all pages in this section and has been fixed:

- The contents sections (See the `{% highlight text %}`
- The middle menu when not matching text
- The middle menu anchor link

Let me know if you see something else we missed

[2022-11-28 14:00] #140 closed, assigned to JonathanMagnan